<!-- <div *ngFor="let holiday of holidays">
  {{holiday}}
</div> -->

<div class="modal-header">
  <h4 class="modal-title">Jours fériés</h4>
  <button type="button" class="close" aria-label="Close" (click)="clsToogle()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-accordion #acch="ngbAccordion" [closeOthers]="true" activeIds="static-1-offre">
    <ngb-panel id="static-1-offre">
      <ng-template ngbPanelTitle>
        <span>
          <b>Jours fériés</b>
        </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <table class="table table-hover">
          <tbody>
            <!-- <div *ngFor="let day of dayNames"> -->
            <tr  *ngFor="let holiday of holidays">
              <td class="text-center">{{holiday}}</td>
            </tr><!-- </div> -->
          </tbody>  
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeToogle()">Fermer</button>
</div>