<app-headers></app-headers>
<section>
  <button type="button" class="btn btn-danger btn-lg pull-right fa fa-power-off" routerLink="/login">
  </button>
  <h1 class="text-center"> Welcome , {{currentUser.nom}} {{currentUser.prenom}}</h1>
</section>
<router-outlet></router-outlet>