<!-- <div class="alert alert-danger" [hidden]="!error">
	There was a problem logging in. Please try again.
</div> -->
<section>
  <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="text-center form-signin">
      <img class="mb-4" src="assets/images/Risk-Intelligence.png" alt="" width="50%" height="50%">
      <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username" class="sr-only">Nom d'utilisateur</label>
      <input type="text" id="username" class="form-control"  placeholder="Nom d'utilisateur" [(ngModel)]="employeur.username" name="username"
      #username="ngModel" required autofocus>
      <div *ngIf="f.submitted && !username.valid" class="help-block">an valid username is required</div>
    </div>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="employeur.password" name="password" placeholder="Mot de passe"
      required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </div>
  </form>
</section>

<!-- <div [hidden]="!authenticated()">
	<p>Login or password is not correct</p>
</div>
<div [hidden]="authenticated()">
	<p>Login to see your greeting</p>
</div> -->