<div class="modal-header">
  <h4 class="modal-title">Besoin</h4>
  <button type="button" class="close" aria-label="Close" (click)="clsToogle()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-accordion #acch="ngbAccordion" [closeOthers]="true" activeIds="static-1-offre">
    <ngb-panel id="static-1-offre">
      <ng-template ngbPanelTitle>
        <span>
          <b>Offre</b>
        </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <panel-offre (event)="closeToogle()"></panel-offre>
      </ng-template>
    </ngb-panel>
    <!-- <ngb-panel id="static-2-details">
      <ng-template ngbPanelTitle>
        <span>
          <b>Détails d'appel d'offre</b>
        </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <panel-details></panel-details>
      </ng-template>
    </ngb-panel> -->
  </ngb-accordion>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeToogle()">Fermer</button>
</div>