<form #f="ngForm" (ngSubmit)="saveContrat(f.value);openToogle()"><!-- closeToogle() -->
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="ncontrat">N° contrat</label>
          <input id="ncontrat" type="text" ngModel="{{nappel}}" name="ncontrat" class="form-control">
        </div>
          <div class="form-group">
            <label for="offre">Offre</label>
            <select [(ngModel)]="nappel" class="form-control" name="offre" id="offre" (ngModelChange)="getOffres()">
              <option *ngFor="let offres of pageOffre" [ngValue]="offres.refappel">{{offres.refappel}}</option>
            </select>
          </div>
        <!-- <div class="form-group">
            <label for="offre">Offre</label>
            <select class="form-control" [(ngModel)]="nappel" name="offre" id="offre" (ngModelChange)="getListOfOffre()">
                <option *ngFor="let offres of pageOffre" ngValue="{{offres.refappel}}">{{offres.refappel}}</option>
            </select>
        </div> -->
        <div class="form-group">
          <label for="intitule">Appel d'offre</label>
          <input id="intitule" type="text" [(ngModel)]="pgoffre.intitule" name="intitule" class="form-control">
        </div>
        <div class="form-group">
          <label for="natureprestation">Nature de prestation</label>
          <select ngModel class="form-control" name="natureprestation" id="natureprestation">
            <option ngValue="Mission">Mission</option>
            <option ngValue="Projet">Projet</option>
          </select>
        </div>
        <div class="form-group">
          <label for="profil">Poste</label>
          <input id="profil" type="text" [(ngModel)]="pgoffre.profil" name="profil" class="form-control">
        </div>
        <div class="form-group">
          <label for="objectif">Description de mission</label>
          <textarea id="objectif" [(ngModel)]="pgoffre.objectif" name="objectif" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="datedemarrage">Date d'effet</label>
          <input id="datedemarrage" type="text" [(ngModel)]="pgoffre.datedemarrage" name="datedemarrage" class="form-control">
        </div>
        <div class="form-group">
          <label for="nbrtravaill">Durée</label>
          <input id="nbrtravaill" type="text" [(ngModel)]="pgoffre.nbrtravaill" name="nbrtravaill" class="form-control">
        </div>
        <div class="form-group">
          <label for="datecloture">Date de fin</label>
          <input id="datecloture" type="text" [(ngModel)]="pgoffre.datecloture" name="datecloture" class="form-control">
        </div>
        <div class="form-group">
          <label for="compte">Compte</label>
          <input id="compte" type="text" [(ngModel)]="pgoffre.compte.nomcompte" name="compte" class="form-control">
        </div>
        <div class="form-group">
          <label for="entite">Entité</label>
          <input id="entite" type="text" [(ngModel)]="pgoffre.entite.nomentite" name="entite" class="form-control">
        </div>
        <div class="form-group">
          <label for="sousentite">Sous entité</label>
          <input id="sousentite" type="text" [(ngModel)]="pgoffre.sousentite.nomsentite" name="sousentite" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Client:</legend>
          <div class="form-group">
            <label for="client">Code client</label>
            <input id="client" type="text" [(ngModel)]="pgoffre.client.matriculeclient" name="client" class="form-control">
          </div>
          <div class="form-group">
            <label for="nomclient">Nom</label>
            <input id="nomclient" type="text" [(ngModel)]="pgoffre.client.nom" name="nomclient" class="form-control">
          </div>
          <div class="form-group">
            <label for="prenomclient">Prénom</label>
            <input id="prenomclient" type="text" [(ngModel)]="pgoffre.client.prenom" name="prenomclient" class="form-control">
          </div>
          <div class="form-group">
            <label for="fonction">Fonction</label>
            <input id="fonction" type="text" [(ngModel)]="pgoffre.client.fonction" name="fonction" class="form-control">
          </div>
          <div class="form-group">
            <label for="direction">Direction</label>
            <textarea id="direction" [(ngModel)]="pgoffre.client.direction" name="direction" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="text" [(ngModel)]="pgoffre.client.email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="telclient">N° Téléphone LD</label>
            <input id="telclient" type="text" [(ngModel)]="pgoffre.client.tel" name="telclient" class="form-control">
          </div>
          <div class="form-group">
            <label for="hierarchie">N+1</label>
            <input id="hierarchie" type="text" [(ngModel)]="pgoffre.client.hierarchie" name="hierarchie" class="form-control">
          </div>
          <div class="form-group">
            <label for="hierarchis">N+2</label>
            <input id="hierarchis" type="text" [(ngModel)]="pgoffre.client.hierarchis" name="hierarchis" class="form-control">
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Facturation:</legend>
          <div class="form-group">
            <label for="adresse">Adresse facturation</label>
            <textarea id="adresse" ngModel name="adresse" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="ville">lieu</label>
            <input id="ville" type="text" ngModel name="ville" class="form-control">
          </div>
          <div class="form-group">
            <label for="prixjrht">Prix journalier HT</label>
            <input id="prixjrht" type="text" ngModel name="prixjrht" class="form-control">
          </div>
          <div class="form-group">
            <label for="frefacture">Fréquence de facturation</label>
            <select ngModel class="form-control" name="frefacture" id="frefacture">
              <option ngValue="Mensuelle">Mensuelle</option>
              <option ngValue="Autre">Autre</option>
            </select>
          </div>
          <!-- <div class="form-group">
            <input id="bic" type="text" ngModel name="bic" class="form-control">
          </div> -->
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Acheteur:</legend>
          <div class="form-group">
            <label for="acheteur">Code Acheteur</label>
            <input id="acheteur" type="text" [(ngModel)]="pgoffre.acheteur.matriculeacheteur" name="acheteur" class="form-control">
          </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input id="nom" type="text" [(ngModel)]="pgoffre.acheteur.nom" name="nom" class="form-control">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input id="prenom" type="text" [(ngModel)]="pgoffre.acheteur.prenom" name="prenom" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="text" [(ngModel)]="pgoffre.acheteur.email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="tel">N° Téléphone LD</label>
            <input id="tel" type="text" [(ngModel)]="pgoffre.acheteur.tel" name="tel" class="form-control">
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Valider</button>
    <button class="btn btn-primary" type="reset" (click)="closeToogle()">Annuler</button>
  </div>
</form>