<!-- <section class="pb-5">
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/acceuil">Links Consulting</a>
      </div>

      <div class="collapse navbar-collapse js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown mega-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Commercial
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu mega-dropdown-menu">
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Men Collection</li>
                  <div id="menCollection" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <a href="#">
                          <img src="http://placehold.it/254x150/ff3546/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 1">
                        </a>
                        <h4>
                          <small>Summer dress floral prints</small>
                        </h4>
                        <button class="btn btn-primary" type="button">49,99 €</button>
                        <button href="#" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                      </div>
                      <div class="item">
                        <a href="#">
                          <img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 2">
                        </a>
                        <h4>
                          <small>Gold sandals with shiny touch</small>
                        </h4>
                        <button class="btn btn-primary" type="button">9,99 €</button>
                        <button href="#" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                      </div>
                      <div class="item">
                        <a href="#">
                          <img src="http://placehold.it/254x150/2ecc71/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 3">
                        </a>
                        <h4>
                          <small>Denin jacket stamped</small>
                        </h4>
                        <button class="btn btn-primary" type="button">49,99 €</button>
                        <button href="#" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#menCollection" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#menCollection" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <li class="divider"></li>
                  <li>
                    <a href="#">View all Collection
                      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Features</li>
                  <li>
                    <a href="#">Auto Carousel</a>
                  </li>
                  <li>
                    <a href="#">Carousel Control</a>
                  </li>
                  <li>
                    <a href="#">Left & Right Navigation</a>
                  </li>
                  <li>
                    <a href="#">Four Columns Grid</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Fonts</li>
                  <li>
                    <a href="#">Glyphicon</a>
                  </li>
                  <li>
                    <a href="#">Google Fonts</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Plus</li>
                  <li>
                    <a href="#">Navbar Inverse</a>
                  </li>
                  <li>
                    <a href="#">Pull Right Elements</a>
                  </li>
                  <li>
                    <a href="#">Coloured Headers</a>
                  </li>
                  <li>
                    <a href="#">Primary Buttons & Default</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Much more</li>
                  <li>
                    <a href="#">Easy to Customize</a>
                  </li>
                  <li>
                    <a href="#">Calls to action</a>
                  </li>
                  <li>
                    <a href="#">Custom Fonts</a>
                  </li>
                  <li>
                    <a href="#">Slide down on Hover</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown mega-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comptabilité
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu mega-dropdown-menu">
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Features</li>
                  <li>
                    <a href="#">Auto Carousel</a>
                  </li>
                  <li>
                    <a href="#">Carousel Control</a>
                  </li>
                  <li>
                    <a href="#">Left & Right Navigation</a>
                  </li>
                  <li>
                    <a href="#">Four Columns Grid</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Fonts</li>
                  <li>
                    <a href="#">Glyphicon</a>
                  </li>
                  <li>
                    <a href="#">Google Fonts</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Plus</li>
                  <li>
                    <a href="#">Navbar Inverse</a>
                  </li>
                  <li>
                    <a href="#">Pull Right Elements</a>
                  </li>
                  <li>
                    <a href="#">Coloured Headers</a>
                  </li>
                  <li>
                    <a href="#">Primary Buttons & Default</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Much more</li>
                  <li>
                    <a href="#">Easy to Customize</a>
                  </li>
                  <li>
                    <a href="#">Calls to action</a>
                  </li>
                  <li>
                    <a href="#">Custom Fonts</a>
                  </li>
                  <li>
                    <a href="#">Slide down on Hover</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3">
                <ul>
                  <li class="dropdown-header">Women Collection</li>
                  <div id="womenCollection" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <a href="#">
                          <img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 1">
                        </a>
                        <h4>
                          <small>Summer dress floral prints</small>
                        </h4>
                        <button class="btn btn-primary" type="button">49,99 €</button>
                        <button href="#" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                      </div>
                      <div class="item">
                        <a href="#">
                          <img src="http://placehold.it/254x150/ff3546/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 2">
                        </a>
                        <h4>
                          <small>Gold sandals with shiny touch</small>
                        </h4>
                        <button class="btn btn-primary" type="button">9,99 €</button>
                        <button href="#" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                      </div>
                      <div class="item">
                        <a href="#">
                          <img src="http://placehold.it/254x150/2ecc71/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 3">
                        </a>
                        <h4>
                          <small>Denin jacket stamped</small>
                        </h4>
                        <button class="btn btn-primary" type="button">49,99 €</button>
                        <button href="#" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#womenCollection" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#womenCollection" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <li class="divider"></li>
                  <li>
                    <a href="#">View all Collection
                      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Ressource Humaine</a>
          </li>
          <li>
            <a href="#">Administrateur</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section> -->
<!-- <app-headers></app-headers> -->
<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Commercial</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'compte'" [image]="'assets/images/Commercial.jpg'" [title]="'Compte'">
        </app-commercial-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'entite'" [image]="'assets/images/Commercial.jpg'" [title]="'Entité'">
        </app-commercial-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'sousentite'" [image]="'assets/images/Commercial.jpg'" [title]="'Sous entité'">
        </app-commercial-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'acheteur'" [image]="'assets/images/Commercial.jpg'" [title]="'Acheteur'">
        </app-commercial-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'client'" [image]="'assets/images/Commercial.jpg'" [title]="'Client'">
        </app-commercial-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'basecommerciale'" [image]="'assets/images/Commercial.jpg'" [title]="'Base commerciale'">
        </app-commercial-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-commercial-element [selectorId]="'besoin'" [image]="'assets/images/Commercial.jpg'" [title]="'Besoin'">
        </app-commercial-element>
      </div>
    </div>
  </div>
</section>
<!-- Team -->

