<section class="pull-right">
    <div class="container-fluid">
        <div hidden>{{count}}</div>
        <button class="btn btn-primary" routerLink="/commercial-acceuil/commercial" (click)="newValue()">Précédent</button>
    </div>
</section>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Entité</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <em class="fa fa-cog"></em>
                    </th>
                    <th scope="col">Date création</th>
                    <!-- <th scope="col">Compte</th> -->
                    <th scope="col">Code entité</th>
                    <th scope="col">Nom entité</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Présence</th>
                    <th scope="col">Secteur</th>
                    <th scope="col">N° Téléphone</th>
                    <th scope="col">N° Téléphone2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entite of pageEntites">
                    <td>
                        <a (click)="openContent(entite.nentite)" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <!-- <th scope="row">1</th> -->
                    <td>{{entite.datecreation}}</td>
                    <!-- <td>{{entite.compte.codecompte}}</td> -->
                    <td>{{entite.nentite}}</td>
                    <td>{{entite.nomentite}}</td>
                    <td>{{entite.adresse}}</td>
                    <td>{{entite.ville}}</td>
                    <td>{{entite.pays}}</td>
                    <td>{{entite.codepostal}}</td>
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input id="dis" type="checkbox" [(ngModel)]="entite.etat" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>{{entite.secteur}}</td>
                    <td>{{entite.tel}}</td>
                    <td>{{entite.tel1}}</td>
                </tr>
            </tbody>
            <ng-template #contentEntite let-c="close" let-d="dismiss">

                <div class="modal-header">
                    <h4 class="modal-title">ENTITE</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nentite">N° entité</label>
                        <input id="nentite" type="text" [(ngModel)]="entite.nentite" class="form-control">
                    </div>
                    <!-- <div class="form-group">
              <label for="compte">N° entité</label>
              <input id="compte" type="text" [(ngModel)]="entite.compte.codecompte" class="form-control">
            </div> -->
                    <div class="form-group">
                        <label for="compte">Compte</label>
                        <select class="form-control" [(ngModel)]="entite.compte" id="compte">
                            <option *ngFor="let comptes of pageComptes" value="{{comptes.codecompte}}">{{comptes.nomcompte}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="datecreation">Date création</label>
                        <input id="datecreation" type="text" [(ngModel)]="entite.datecreation" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="nomentite">Nom entité</label>
                        <input id="nomentite" type="text" [(ngModel)]="entite.nomentite" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <textarea id="adresse" [(ngModel)]="entite.adresse" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville</label>
                        <input id="ville" type="text" [(ngModel)]="entite.ville" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pays">Pays</label>
                        <input id="pays" type="text" [(ngModel)]="entite.pays" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="codeoostal">Code postal</label>
                        <input id="codepostal" type="text" [(ngModel)]="entite.codepostal" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="secteur">Secteur</label>
                        <input id="secteur" type="text" [(ngModel)]="entite.secteur" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="presence">Présence</label>
                        <label class="custom-control custom-checkbox">
                            <input id="dis" type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="tel1">N° Téléphone</label>
                        <input id="tel1" type="text" [(ngModel)]="entite.tel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tel2">N° Téléphone 2</label>
                        <input id="tel2" type="text" [(ngModel)]="entite.tel1" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" (click)="updateEntite()">Valider</button>
                    <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                </div>
            </ng-template>
        </table>
    </div>
</section>