<li [class]="optionClass">
    <!-- *ngIf="i.id == 2 ; then coursesList; else  noCourses" -->
    <button *ngFor="let i of ii" (click)='chekedBtn((i.id)-1,selectorId)' [attr.id]="selectorId" class="material-button option{{i.id}}"
        type="button">

        <span class="{{i.name}}" aria-hidden="true"></span>

    </button>
    <!--Add Compte-->
    <!-- <add-compte></add-compte> -->

    <ng-template #content let-c="close" let-d="dismiss" *ngFor="let codecpts of codecpt">

        <div class="modal-header">
            <h4 class="modal-title">COMPTE</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #f="ngForm" (ngSubmit)="saveCompte(f.value);c('Close click')">
            <div class="modal-body">
                <div class="form-group">
                    <label for="codecompte">Code compte</label>
                    <input id="codecompte" type="text" ngModel="{{codecpts.name}}{{count}}" name="codecompte" class="form-control">
                </div>
                <div class="form-group">
                    <label for="datecreation">Date création</label>
                    <input id="datecreation" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecreation" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nomcompte">Nom compte</label>
                    <input id="nomcompte" type="text" ngModel name="nomcompte" class="form-control">
                </div>
                <div class="form-group">
                    <label for="adresseSiege">Adresse siége</label>
                    <textarea id="adresseSiege" ngModel name="adresse" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="codepostal">Code postal</label>
                    <input required minlength="4" maxlength="5" id="codepostal" type="text" ngModel name="codepostal" #codepostal="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="codepostal.touched && !codepostal.valid">
                        <div *ngIf="codepostal.errors.required">Code postal is required</div>
                        <div *ngIf="codepostal.errors.minlength"> The Code postal shoulde be minimum {{ codepostal.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="villecompte">Ville</label>
                    <input id="villecompte" type="text" ngModel name="ville" class="form-control">
                </div>
                <div class="form-group">
                    <label for="payscompte">Pays</label>
                    <input id="payscompte" type="text" ngModel name="pays" class="form-control">
                </div>
                <div class="form-group">
                    <label for="etat">Etat compte</label>
                    <label class="custom-control custom-checkbox">
                        <input id="dis" type="checkbox" ngModel name="etat" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="tel">N° Téléphone</label>
                    <input minlength="4" maxlength="10" id="tel" type="text" ngModel name="tel" #tel="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
                        <div *ngIf="tel.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fix">N° Téléphone 2</label>
                    <input minlength="4" maxlength="10" id="fix" type="text" ngModel name="fix" #fix="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="!fix.valid">
                        <div *ngIf="fix.errors.minlength"> The N°Téléphone shoulde be minimum {{ fix.errors.minlength.requiredLength}}</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="email" ngModel name="email" #email="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors.pattern"> The email must be like test@email.com </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="newValue()">Valider</button>
                <button class="btn btn-primary" type="reset" (click)="c('Close click')">Annuler</button>
            </div>
        </form>
    </ng-template>

    <!--Add Entite-->
    <ng-template #contentEntite let-c="close" let-d="dismiss" *ngFor="let codecpts of codecpt">

        <div class="modal-header">
            <h4 class="modal-title">ENTITE</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #f="ngForm" (ngSubmit)="saveEntite(f.value);c('Close click')">
            <div class="modal-body">
                <div class="form-group">
                    <label for="nentite">N° entité</label>
                    <input id="nentite" type="text" ngModel="{{codecpts.name1}}{{count}}" name="nentite" class="form-control">
                </div>
                <div class="form-group">
                    <label for="compte">Compte</label>
                    <select class="form-control" ngModel name="compte" id="compte">
                        <option *ngFor="let comptes of pageComptes" ngValue="{{comptes.codecompte}}">{{comptes.nomcompte}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nomentite">Nom entité</label>
                    <input id="nomentite" type="text" ngModel name="nomentite" class="form-control">
                </div>
                <div class="form-group">
                    <label for="datecreation">Date création</label>
                    <input id="datecreation" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecreation" class="form-control">
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <textarea id="adresse" ngModel name="adresse" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="codepostal">Code postal</label>
                    <input required minlength="4" maxlength="5" id="codepostal" type="text" ngModel name="codepostal" #codepostal="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="codepostal.touched && !codepostal.valid">
                        <div *ngIf="codepostal.errors.required">Code postal is required</div>
                        <div *ngIf="codepostal.errors.minlength"> The Code postal shoulde be minimum {{ codepostal.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ville">Ville</label>
                    <input id="ville" type="text" ngModel name="ville" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pays">Pays</label>
                    <input id="pays" type="text" ngModel name="pays" class="form-control">
                </div>
                <div class="form-group">
                    <label for="secteur">Secteur</label>
                    <input id="secteur" type="text" ngModel name="secteur" class="form-control">
                </div>
                <div class="form-group">
                    <label for="presence">Présence</label>
                    <label class="custom-control custom-checkbox">
                        <input id="dis" type="checkbox" ngModel name="etat" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="tel">N° Téléphone</label>
                    <input minlength="4" maxlength="10" id="tel" type="text" ngModel name="tel" #tel="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
                        <div *ngIf="tel.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tel1">N° Téléphone 2</label>
                    <input minlength="4" maxlength="10" id="tel1" type="text" ngModel name="tel1" #tel1="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="!tel1.valid">
                        <div *ngIf="tel1.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel1.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <!-- <div  class="form-group">
                <label for="compte">Code Compte</label>
                <input id="compte" type="text" [(ngModel)]="entite.compte" class="form-control">
            </div> -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="newValue()">Valider</button>
                <button class="btn btn-primary pull-right" type="reset" (click)="c('Close click')">Annuler</button>
            </div>
        </form>
    </ng-template>

    <!--Add Sous-Entite-->
    <ng-template #contentSentite let-c="close" let-d="dismiss" *ngFor="let codecpts of codecpt">

        <div class="modal-header">
            <h4 class="modal-title">SOUS-ENTITE</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #f="ngForm" (ngSubmit)="saveSousEntite(f.value);c('Close click')">
            <div class="modal-body">
                <div class="form-group">
                    <label for="compte">Compte</label>
                    <select class="form-control" [(ngModel)]="getNumCompte" name="compte" id="compte" (ngModelChange)="getListOfEntite()">
                        <option *ngFor="let cpt of pageComptes" ngValue="{{cpt.codecompte}}">{{cpt.nomcompte}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="entite">Entite</label>
                    <select class="form-control" ngModel name="entite" id="entite">
                        <option *ngFor="let pgOfEntite of pageOfEntites" ngValue="{{pgOfEntite[0]}}">{{pgOfEntite[1]}}</option>
                        <!-- ngValue="{{entites.nentite}}" -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="nsentite">Code sous-entité</label>
                    <input id="nsentite" type="text" ngModel="{{codecpts.name2}}{{count}}" name="nsentite" class="form-control">
                </div>
                <div class="form-group">
                    <label for="datecreation">Date création</label>
                    <input id="datecreation" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecreation" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nomsentite">Nom sous-entité</label>
                    <input id="nomsentite" type="text" ngModel name="nomsentite" class="form-control">
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <textarea id="adresse" ngModel name="adresse" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="codepostal">Code postal</label>
                    <input required minlength="4" maxlength="5" id="codepostal" type="text" ngModel name="codepostal" #codepostal="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="codepostal.touched && !codepostal.valid">
                        <div *ngIf="codepostal.errors.required">Code postal is required</div>
                        <div *ngIf="codepostal.errors.minlength"> The Code postal shoulde be minimum {{ codepostal.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ville">Ville</label>
                    <input id="ville" type="text" ngModel name="ville" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pays">Pays</label>
                    <input id="pays" type="text" ngModel name="pays" class="form-control">
                </div>
                <div class="form-group">
                    <label for="secteur">Secteur</label>
                    <input id="secteur" type="text" ngModel name="secteur" class="form-control">
                </div>
                <div class="form-group">
                    <label for="presence">Présence</label>
                    <label class="custom-control custom-checkbox">
                        <input id="dis" type="checkbox" ngModel name="etat" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="tel">N° Téléphone</label>
                    <input minlength="4" maxlength="10" id="tel" type="text" ngModel name="tel" #tel="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
                        <div *ngIf="tel.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tel1">N° Téléphone 2</label>
                    <input minlength="4" maxlength="10" id="tel1" type="text" ngModel name="tel1" #tel1="ngModel" class="form-control">
                    <div class="alert alert-danger" *ngIf="!tel1.valid">
                        <div *ngIf="tel1.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel1.errors.minlength.requiredLength}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="newValue()">Valider</button>
                <button class="btn btn-primary pull-right" type="reset" (click)="c('Close click')">Annuler</button>
            </div>
        </form>
    </ng-template>

    <!--Add Acheteur-->
    <ng-template #contentAcheteur let-c="close" let-d="dismiss" *ngFor="let codecpts of codecpt">

        <div class="modal-header">
            <h4 class="modal-title">Acheteur</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <ngb-accordion #acch="ngbAccordion" [closeOthers]="true" activeIds="static-1-acheteur">
                <ngb-panel id="static-1-acheteur">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Acheteur</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <form #f="ngForm" (ngSubmit)="saveAcheteur(f.value);acch.toggle('static-2-acheteur')">
                            <div class="form-group">
                                <label for="matriculeacheteur">Code acheteur</label>
                                <input id="matriculeacheteur" type="text" [(ngModel)]="codecpts.name3+count" name="matriculeacheteur" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="datecreation">Date création</label>
                                <input id="datecreation" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecreation" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input id="nom" type="text" ngModel name="nom" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="prenom">Prénom</label>
                                <input id="prenom" type="text" ngModel name="prenom" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fonction">Fonction</label>
                                <input id="fonction" type="text" ngModel name="fonction" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="adresse">Adresse</label>
                                <textarea id="adresse" class="form-control" ngModel name="adresse" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="codepostal">Code postal</label>
                                <input required minlength="4" maxlength="5" id="codepostal" type="text" ngModel name="codepostal" #codepostal="ngModel" class="form-control">
                                <div class="alert alert-danger" *ngIf="codepostal.touched && !codepostal.valid">
                                    <div *ngIf="codepostal.errors.required">Code postal is required</div>
                                    <div *ngIf="codepostal.errors.minlength"> The Code postal shoulde be minimum {{ codepostal.errors.minlength.requiredLength}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ville">Ville</label>
                                <input id="ville" type="text" ngModel name="ville" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="pays">Pays</label>
                                <input id="pays" type="text" ngModel name="pays" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="email" ngModel name="email" #email="ngModel" class="form-control">
                                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                                    <div *ngIf="email.errors.pattern"> The email must be like test@email.com </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email1">E-mail 2</label>
                                <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email1" type="text" ngModel name="email1" #email1="ngModel"
                                    class="form-control">
                                <div class="alert alert-danger" *ngIf=" !email1.valid">
                                    <div *ngIf="email1.errors.pattern"> The email must be like test@email.com </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tel">N° Téléphone</label>
                                <input minlength="4" maxlength="10" id="tel" type="text" ngModel name="tel" #tel="ngModel" class="form-control">
                                <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
                                    <div *ngIf="tel.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel.errors.minlength.requiredLength}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tel1">N° Téléphone 2</label>
                                <input minlength="4" maxlength="10" id="tel1" type="text" ngModel name="tel1" #tel1="ngModel" class="form-control">
                                <div class="alert alert-danger" *ngIf="!tel1.valid">
                                    <div *ngIf="tel1.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel1.errors.minlength.requiredLength}}</div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Valider</button>
                            <!-- (click)="getAcheteur(f.value.matriculeacheteur)" getAllAcheteur() -->
                            <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                        </form>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2-acheteur">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Commentaire Acheteur</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <add-compte [matricule]="codecpts.name3+count" (event)="c('Close click')" [count]="count"></add-compte>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
        </div>
    </ng-template>

    <!--Add Client-->
    <ng-template #contentClient let-c="close" let-d="dismiss" *ngFor="let codecpts of codecpt">

        <div class="modal-header">
            <h4 class="modal-title">CLIENT</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #f="ngForm" (ngSubmit)="saveClient(f.value);c('Close click')">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="datecreation">Date création</label>
                            <input id="datecreation" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecreation" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="matriculeclient">Code client</label>
                            <input id="matriculeclient" type="text" ngModel="{{codecpts.name4}}{{count}}" name="matriculeclient" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input required id="nom" type="text" ngModel name="nom" #nom="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="nom.touched && !nom.valid">
                                <div *ngIf="nom.errors.required">Last name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input required id="prenom" type="text" ngModel name="prenom" #prenom="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="nom.touched && !prenom.valid">
                                <div *ngIf="prenom.errors.required">First name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fonction">Fonction</label>
                            <input id="fonction" type="text" ngModel name="fonction" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="compte">Compte</label>
                            <select class="form-control" [(ngModel)]="getNumCompte" name="compte" id="compte" (ngModelChange)="getListOfEntite()">
                                <option *ngFor="let cpt of pageComptes" ngValue="{{cpt.codecompte}}">{{cpt.nomcompte}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="entite">Entite</label>
                            <select class="form-control" [(ngModel)]="getNum" name="entite" id="entite" (ngModelChange)="getListOfSE()">
                                <option *ngFor="let pgOfEntite of pageOfEntites" ngValue="{{pgOfEntite[0]}}">{{pgOfEntite[1]}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sousentite">Sous entité</label>
                            <select class="form-control" ngModel name="sousentite" id="sousentite">
                                <option *ngFor="let pgOfSous of pageOfSE" ngValue="{{pgOfSous[0]}}">{{pgOfSous[1]}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="acheteur">Acheteur</label>
                            <select  class="form-control" ngModel name="acheteur" id="acheteur">
                                <option *ngFor="let acheteurs of pageAcheteurs" ngValue="{{acheteurs.matriculeacheteur}}">{{acheteurs.nom}} {{acheteurs.prenom}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="etat">Etat</label>
                            <select ngModel class="form-control" id="etat" name="etat">
                                <option ngValue="Inactif">Inactif</option>
                                <option ngValue="Actif">Actif</option>
                                <option ngValue="Client Final">Client Final</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="secteur">Secteur</label>
                            <input id="secteur" type="text" ngModel name="secteur" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="direction">Direction</label>
                            <input id="direction" type="text" ngModel name="direction" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse</label>
                            <textarea id="adresse" class="form-control" ngModel name="adresse" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="codepostal">Code postal</label>
                            <input minlength="4" maxlength="5" id="codepostal" type="text" ngModel name="codepostal" #codepostal="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="codepostal.touched && !codepostal.valid">
                                <div *ngIf="codepostal.errors.minlength"> The Code postal shoulde be minimum {{ codepostal.errors.minlength.requiredLength}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ville">Ville</label>
                            <input id="ville" type="text" ngModel name="ville" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pays">Pays</label>
                            <input id="pays" type="text" ngModel name="pays" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="hierarchie">N+1° Hiérarchie</label>
                            <input id="hierarchie" type="text" ngModel name="hierarchie" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="hierarchis">N+2° Hiérarchie</label>
                            <input id="hierarchis" type="text" ngModel name="hierarchis" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="tel">N° Téléphone LD</label>
                            <input minlength="4" maxlength="10" id="tel" type="text" ngModel name="tel" #tel="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
                                <div *ngIf="tel.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel.errors.minlength.requiredLength}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tel1">N° Téléphone Portable</label>
                            <input minlength="4" maxlength="10" id="tel1" type="text" ngModel name="tel1" #tel1="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="!tel1.valid">
                                <div *ngIf="tel1.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel1.errors.minlength.requiredLength}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="portableperso">N° Téléphone Perso</label>
                            <input minlength="4" maxlength="10" id="portableperso" type="text" ngModel name="portableperso" #portableperso="ngModel"
                                class="form-control">
                            <div class="alert alert-danger" *ngIf="portableperso.touched && !portableperso.valid">
                                <div *ngIf="portableperso.errors.minlength"> The N°Téléphone shoulde be minimum {{ portableperso.errors.minlength.requiredLength}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="portablepro">N° Portable</label>
                            <input minlength="4" maxlength="10" id="portablepro" type="text" ngModel name="portablepro" #portablepro="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="!portablepro.valid">
                                <div *ngIf="portablepro.errors.minlength"> The N°Téléphone shoulde be minimum {{ portablepro.errors.minlength.requiredLength}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ficheclient">Fiche client</label>
                            <textarea id="ficheclient" class="form-control" ngModel name="ficheclient" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="activiteclient">Activité Client</label>
                            <textarea id="activiteclient" class="form-control" ngModel name="activiteclient" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="email" ngModel name="email" #email="ngModel" class="form-control">
                            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                                <div *ngIf="email.errors.pattern"> The email must be like test@email.com </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email1">E-mail 2</label>
                            <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email1" type="text" ngModel name="email1" #email1="ngModel"
                                class="form-control">
                            <div class="alert alert-danger" *ngIf="!email1.valid">
                                <div *ngIf="email1.errors.pattern"> The email must be like test@email.com </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="newValue()">Valider</button>
                <button class="btn btn-primary pull-right" type="reset" (click)="c('Close click')">Annuler</button>
            </div>
        </form>
    </ng-template>


    <!--Add Base commerciale-->
    <ng-template #contentBC let-c="close" let-d="dismiss" *ngFor="let codecpts of codecpt">

        <div class="modal-header">
            <h4 class="modal-title">BASE COMMERCIALE</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-2">
                <!-- <ngb-panel id="static-1">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Suivi</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                     <form #f="ngForm" (ngSubmit)="saveSuivi(f.value)">   
                        <div class="row" >
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numsuivi">N° suivi</label>
                                    <input id="numsuivi" name="numsuivi" ngModel="{{codesui +count}}" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="datesuivi">Date création</label>
                                    <input id="datesuivi" name="datesuivi" ngModel="{{today | date:'yyyy-MM-dd'}}" type="text"  class="form-control">
                                </div>
                                <div class="form-group" >
                                    <label for="client">Client</label>
                                    <select  [(ngModel)]="getNumClient"  class="form-control" name="client" id="client"  (ngModelChange)="getListOfCompte()">
                                            <option  *ngFor="let client of pageClients"  [ngValue]="client.matriculeclient">{{client.nom}} {{client.prenom}}</option>
                                    </select>
                                </div>
                                <div *ngFor="let suiv of pageSuivis">
                                <div class="form-group">
                                    <label for="compte">Compte</label>
                                        <select class="form-control" [(ngModel)]="getNCompte" name="compte" id="compte" (ngModelChange)="getListOfSuivEnt()" > 
                                            <option *ngFor="let suiv of pageSuivis" ngValue="{{suiv[0]}}">{{suiv[1]}}</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="entite">Entite</label>
                                        <select class="form-control" ngModel name="entite" id="entite"> 
                                            <option *ngFor="let suivEnt of pageSuivisEnt" ngValue="{{suivEnt[0]}}">{{suivEnt[1]}}</option>
                                        </select>
                                </div>
                               <div class="form-group">
                                    <label for="sousentite">Sous Entite</label>
                                    <input id="sousentite" name="sousentite"  [value]="suiv[2]"   type="text" class="form-control">
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngFor="let suiv of pageSuivis">
                                <div class="form-group">
                                    <label for="direction">Direction</label>
                                    <input id="direction"  name="direction"  [value]="suiv[5]"   type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="fonction">Fonction</label>
                                    <input id="fonction"  name="fonction"  [value]="suiv[6]"   type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="adresse">Adresse</label>
                                    <input id="adresse"  name="adresse"  [value]="suiv[7]"   type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="hierarchie">N°+1 Hiérarchie</label>
                                    <input id="hierarchie"  name="hierarchie"  [value]="suiv[8]"   type="text" class="form-control">
                                </div>
                                
                            </div>
                            <div class="col-md-4" *ngFor="let suiv of pageSuivis">
                                <div class="form-group">
                                    <label for="hierarchis">N°+2 Hiérarchie</label>
                                    <input id="hierarchis" name="hierarchis"  [value]="suiv[9]"   type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="tel">N° Téléphone</label>
                                    <input id="tel" name="tel"  [value]="suiv[10]"   type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="tel1">N° Téléphone 2</label>
                                    <input id="tel1" name="tel1"  [value]="suiv[11]"   type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input id="email" name="email"  [value]="suiv[12]"   type="text" class="form-control">
                                </div>
                            </div>
                            
                        </div>
                        <button class="btn btn-primary" type="submit">Valider</button>
                        <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                    </form>
                    </ng-template>  
                </ngb-panel> -->
                <ngb-panel id="static-2">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Premier contact</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <form #f="ngForm" (ngSubmit)="saveContact(f.value);acc.toggle('static-3')" *ngIf="showCreate">
                            <!-- *ngIf="showCreate" -->
                            <div class="form-group">
                                <label for="numsuivi">N° suivi</label>
                                <input id="numsuivi" name="numsuivi" ngModel="{{codecpts.name5}}{{count}}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="datesuivi">Date contact</label>
                                <input id="datesuivi" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datesuivi" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="client">Client</label>
                                <select ngModel class="form-control" name="client" id="client">
                                    <option *ngFor="let client of pageClients" [ngValue]="client.matriculeclient">{{client.nom}} {{client.prenom}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="besoin">Besoin</label>
                                <label class="custom-control custom-checkbox">
                                    <input id="dis" type="checkbox" ngModel name="besoin" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="daterappel">Rappelle à cette date</label>
                                <input id="daterappel" type="date" ngModel name="daterappel" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="commentaire">Commentaire</label>
                                <textarea id="commentaire" ngModel name="commentaire" class="form-control" rows="5"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit">Valider</button>
                            <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                        </form>
                        <form #f="ngForm" (ngSubmit)="updateSuivi(f.value)" *ngIf="showUpdate">
                            <!-- *ngIf="showUpdate" -->
                            <div class="form-group">
                                <label for="numsuivi">N° suivi</label>
                                <input [(ngModel)]="pgsuivi.numsuivi" type="text" name="numsuivi" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="datesuivi">Date contact</label>
                                <input type="text" ngModel="{{pgsuivi.datesuivi}}" name="datesuivi" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="client">Client</label>
                                <input type="text" ngModel="{{pgsuivi.client.matriculeclient}}" name="client" class="form-control">
                            </div>
                            <!-- <div class="form-group">
                                <label for="client">Client</label>
                                <select ngModel class="form-control" name="client" id="client">
                                    <option [ngValue]="pagSuivi.client.matriculeclient">{{pagSuivi.client.nom}} {{pagSuivi.client.prenom}}</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <label for="besoin">Besoin</label>
                                <label class="custom-control custom-checkbox">
                                    <input id="dis" type="checkbox" ngModel="{{pgsuivi.besoin}}" name="besoin" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="daterappel">Rappelle à cette date</label>
                                <input id="daterappel" type="text" ngModel="{{pgsuivi.daterappel}}" name="daterappel" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="commentaire">Commentaire</label>
                                <textarea id="commentaire" ngModel="{{pgsuivi.commentaire}}" name="commentaire" class="form-control" rows="5"></textarea>
                            </div>
                            <!-- <p>{{codesuivi}}</p>  <p>{{pgsuivi.numsuivi}}</p> -->
                            <button class="btn btn-primary" type="submit">Valider</button>
                            <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                        </form>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Suivi des rappels</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <!-- <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <em class="fa fa-cog"></em>
                                    </th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Date contact</th>
                                    <th scope="col">Besoin</th>
                                    <th scope="col">Rappelle à cette date</th>
                                    <th scope="col">Commentaire</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let suivi of pageSuivis">
                                    <td>
                                        <a (click)="acc.toggle('static-2');openContent(suivi.numsuivi)" class="btn btn-default">
                                            <em class="fa fa-pencil-square-o"></em>
                                        </a>
                                        <a class="btn btn-danger">
                                            <em class="fa fa-trash"></em>
                                        </a>
                                    </td>
                                    <td hidden>{{suivi.numsuivi}}</td>
                                    <td>{{suivi.client.nom}} {{suivi.client.prenom}}</td>
                                    <td>{{suivi.datesuivi}}</td>
                                    <td>
                                        <label class="custom-control custom-checkbox">
                                            <input id="dis" type="checkbox" ngModel="{{suivi.besoin}}" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td>{{suivi.daterappel}}</td>
                                    <td>{{suivi.commentaire}}</td>
                                </tr>
                            </tbody>
                        </table> -->
                        <suivi-rappel (event)="acc.toggle('static-2')" (getSuivi)="receiveSuivi($event)"></suivi-rappel>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-4">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Rendez-vous</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <form #f="ngForm" (ngSubmit)="saveRdv(f.value);c('Close click')">
                            <div class="form-group">
                                <label for="nrdv">N° Rendez-vous</label>
                                <input id="nrdv" type="text" name="nrdv" ngModel="{{count}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="datecreation">Date création</label>
                                <input id="datecreation" type="text" name="datecreation" ngModel="{{today | date:'yyyy-MM-dd'}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="participant">Participant1</label>
                                <select class="form-control" id="participant">
                                    <option>NOM1</option>
                                    <option>NOM2</option>
                                    <option>NOM3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="participant1">Participant2</label>
                                <select class="form-control" id="participant1">
                                    <option>NOM1</option>
                                    <option>NOM2</option>
                                    <option>NOM3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="daterdv">Date rendez-vous</label>
                                <input id="daterdv" type="date" name="daterdv" ngModel class="form-control">
                                <!-- <erp-datepicker-range></erp-datepicker-range> -->
                            </div>
                            <div class="form-group">
                                <label for="avis">Type rendez-vous</label>
                                <select ngModel class="form-control" id="avis" name="avis">
                                    <option ngValue="BIZ - Prospection">BIZ - Prospection</option>
                                    <option ngValue="BIZ - Avant Vente">BIZ - Avant Vente</option>
                                    <option ngValue="BIZ -  Follow up customer">BIZ - Follow up customer</option>
                                    <option ngValue="BIZ - Copil">BIZ - Copil</option>
                                    <option ngValue="BIZ - Soutenance">BIZ - Soutenance</option>
                                    <option ngValue="BIZ -  VIP meeting">BIZ - VIP meeting</option>
                                    <option ngValue="BIZ - Préparation consultant">BIZ - Préparation consultant</option>
                                    <option ngValue="BIZ - Présentation">BIZ - Présentation</option>
                                    <option ngValue="BIZ -  Process Starting Assigment">BIZ - Process Starting Assigment</option>
                                    <option ngValue="BIZ - Process Follow up Assigment">BIZ - Process Follow up Assigment</option>
                                    <option ngValue="BIZ - Process Closing Assigment">BIZ - Process Closing Assigment</option>
                                    <option ngValue="BIZ -  RDV Partenaire">BIZ - RDV Partenaire</option>
                                    <option ngValue="BIZ -  Rédaction AO/Référencement">BIZ - Rédaction AO/Référencement</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea id="description" class="form-control" name="description" ngModel rows="5"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit" (click)="newValue()">Valider</button>
                            <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                        </form>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
        </div>
    </ng-template>

    <!--Add Besoin-->
    <ng-template #contentBesoin let-c="close" let-d="dismiss">
        <add-besoin (event)="c('Close click')" (eventclose)="d('Cross click')"></add-besoin>        
    </ng-template>

</li>

<!-- <li [class]="optionClass">
    <button *ngFor="let is of iii" class="material-button option{{is.id}}" type="button">
        <span class="{{is.name}}" aria-hidden="true"></span>
    </button>
</li> -->