<li [class]="optionClass">
    <button *ngFor="let i of ii" (click)='chekedBtn((i.id)-1,selectorId)' [attr.id]="selectorId" class="material-button option{{i.id}}"
        type="button">
        <span class="{{i.name}}" aria-hidden="true"></span>
    </button>
    <ng-template #contentparametrage let-c="close" let-d="dismiss">
        <add-parametrage (event)="c('Close click')" (eventclose)="d('Cross click')"></add-parametrage>
    </ng-template>

    <ng-template #contentcontrat let-c="close" let-d="dismiss">

        <div class="modal-header">
            <h4 class="modal-title">Contrat</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-2">
                <ngb-panel id="static-2">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Contrat</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <add-contrat (eventacc)="acc.toggle('static-3-consutlant')" (event)="c('Close click')"></add-contrat>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3-consutlant">
                    <ng-template ngbPanelTitle>
                        <span>
                            <b>Consultant</b>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <add-consultant (event)="c('Close click')"></add-consultant>
                        <!-- <suivi-rappel  (getSuivi)="receiveSuivi($event)"></suivi-rappel> -->
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
        </div>
    </ng-template>

    <ng-template #contentfacture let-c="close" let-d="dismiss">
        <add-facture (event)="c('Close click')" (eventclose)="d('Cross click')"></add-facture>
    </ng-template>
</li>