<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/acceuil">LinksConsulting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/commercial-acceuil/commercial">Commercial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comptabilite-acceuil/comptabilite">Comptabilité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/RH">Ressource humaine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cra-acceuil/CRA">Compte rendu d'activité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/administrateur">Administration</a>
      </li>
    </ul>
  </div>
</nav>