<div class="modal-header">
  <h4 class="modal-title">BASE COMMERCIALE</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1">
          <ng-template ngbPanelTitle>
              <span>
                  <b>Suivi</b>
              </span>
          </ng-template>
          <ng-template ngbPanelContent>
           <form #f="ngForm" (ngSubmit)="saveSuivi(f.value)">   
              <div class="row" >
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="numsuivi">N° suivi</label>
                          <input id="numsuivi" name="numsuivi" ngModel="{{codesui +count}}" type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="datesuivi">Date création</label>
                          <input id="datesuivi" name="datesuivi" ngModel="{{today | date:'yyyy-MM-dd'}}" type="text"  class="form-control">
                      </div>
                      <div class="form-group" >
                          <label for="client">Client</label>
                          <select  [(ngModel)]="getNumClient"  class="form-control" name="client" id="client"  (ngModelChange)="getListOfClient()"><!-- (change)="getListOfClient(client.matriculeclient)" -->
                                  <option  *ngFor="let client of pageClients"  [ngValue]="client.matriculeclient">{{client.nom}} {{client.prenom}}</option>
                          </select>
                      </div>
                      <div *ngFor="let suiv of pageSuivis">
                      <div class="form-group">
                          <label for="compte">Compte</label>
                          <input id="compte"  name="compte"  [value]="suiv[0]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="entite">Entite</label>
                          <input id="entite"  name="entite"  [value]="suiv[1]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="sousentite">Sous Entite</label>
                          <input id="sousentite" name="sousentite"  [value]="suiv[2]"   type="text" class="form-control">
                      </div>
                      </div>
                  </div>
                  <div class="col-md-4" *ngFor="let suiv of pageSuivis">
                      <div class="form-group">
                          <label for="direction">Direction</label>
                          <input id="direction"  name="direction"  [value]="suiv[5]"   type="text" class="form-control">
                      </div>

                      <div class="form-group">
                          <label for="fonction">Fonction</label>
                          <input id="fonction"  name="fonction"  [value]="suiv[6]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="adresse">Adresse</label>
                          <input id="adresse"  name="adresse"  [value]="suiv[7]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="hierarchie">N°+1 Hiérarchie</label>
                          <input id="hierarchie"  name="hierarchie"  [value]="suiv[8]"   type="text" class="form-control">
                      </div>
                      
                  </div>
                  <div class="col-md-4" *ngFor="let suiv of pageSuivis">
                      <div class="form-group">
                          <label for="hierarchis">N°+2 Hiérarchie</label>
                          <input id="hierarchis" name="hierarchis"  [value]="suiv[9]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="tel">N° Téléphone</label>
                          <input id="tel" name="tel"  [value]="suiv[10]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="tel1">N° Téléphone 2</label>
                          <input id="tel1" name="tel1"  [value]="suiv[11]"   type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="email">E-mail</label>
                          <input id="email" name="email"  [value]="suiv[12]"   type="text" class="form-control">
                      </div>
                  </div>
                  
              </div>
              <button class="btn btn-primary" type="submit">Valider</button>
              <button class="btn btn-primary pull-right" type="reset">Annuler</button>
          </form>
          </ng-template>  
      </ngb-panel>
      <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
              <span>
                  <b>Premier contact</b>
              </span>
          </ng-template>
          <ng-template ngbPanelContent>
              <form #f="ngForm" (ngSubmit)="saveContact(f.value)"> 
              <div class="form-group">
                  <label for="datecontact">Date</label>
                  <input id="datecontact" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecontact"  class="form-control">
              </div>
              <div class="form-group">
                  <label for="besoin">Besoin</label>
                  <label class="custom-control custom-checkbox">
                      <input id="dis" type="checkbox" [(ngModel)]="etatBesoin" name="besoin" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                  </label>
              </div>
              <div class="form-group">
                  <label for="commentaire">Commentaire</label>
                  <textarea id="commentaire" ngModel name="commentaire" class="form-control" rows="5"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Valider</button>
              <button class="btn btn-primary pull-right" type="reset" >Annuler</button>
          </form> 
          </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3">
          <ng-template ngbPanelTitle>
              <span>
                  <b>Suivi des rappels</b>
              </span>
          </ng-template>
          <ng-template ngbPanelContent>
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col">
                              <em class="fa fa-cog"></em>
                          </th>
                          <th scope="col">Date</th>
                          <th scope="col">Commentaire</th>
                          <th scope="col">Besoin</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <a class="btn btn-default">
                                  <em class="fa fa-pencil-square-o"></em>
                              </a>
                              <a class="btn btn-danger">
                                  <em class="fa fa-trash"></em>
                              </a>
                          </td>
                          <!-- <th scope="row">1</th> -->
                          <td>2018-03-01</td>
                          <td>Commentaire</td>
                          <td>
                              <label class="custom-control custom-checkbox">
                                  <input id="dis" type="checkbox" class="custom-control-input">
                                  <span class="custom-control-indicator"></span>
                              </label>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4">
          <ng-template ngbPanelTitle>
              <span>
                  <b>Rendez-vous</b>
              </span>
          </ng-template>
          <ng-template ngbPanelContent>
              <div class="form-group">
                  <label for="dateCreation">Date création</label>
                  <input id="dateCreation" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label for="participant">Participant1</label>
                  <select class="form-control" id="participant">
                      <option>NOM</option>
                      <option>NOM1</option>
                      <option>NOM2</option>
                      <option>NOM3</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="participant1">Participant2</label>
                  <select class="form-control" id="participant1">
                      <option>NOM</option>
                      <option>NOM1</option>
                      <option>NOM2</option>
                      <option>NOM3</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="dateRDV">Date rendez-vous</label>
                  <br>
                  <erp-datepicker-range></erp-datepicker-range>
              </div>
              <div class="form-group">
                  <label for="participant1">Type rendez-vous</label>
                  <select class="form-control" id="participant1">
                      <option>En cours</option>
                      <option>Reporter</option>
                      <option>Annuler</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="description">Description</label>
                  <textarea id="description" class="form-control" rows="5"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Valider</button>
              <button class="btn btn-primary pull-right" type="reset">Annuler</button>
          </ng-template>
      </ngb-panel>
  </ngb-accordion>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
</div>