<form #f="ngForm" (ngSubmit)="saveOffre(f.value);closeToogle()">
  <fieldset>
    <legend>Offre:</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="refappel">Ref d'appel d'offre</label>
          <input id="refappel" type="text" ngModel name="refappel" class="form-control">
        </div>
        <div class="form-group">
          <label for="intitule">Intitule d'appel d'offre</label>
          <input id="intitule" type="text" ngModel name="intitule" class="form-control">
        </div>
        <div class="form-group">
          <label for="dateemission">Date d'émission</label>
          <input id="dateemission" type="date" ngModel name="dateemission" class="form-control">
        </div>
        <div class="form-group">
          <label for="dateexpiration">Date d'expiration</label>
          <input id="dateexpiration" type="date" ngModel name="dateexpiration" class="form-control">
        </div>
        <div class="form-group">
          <label for="client">Client</label>
          <select [(ngModel)]="getNumClient" class="form-control" name="client" id="client" (ngModelChange)="getClient()">
            <option *ngFor="let client of pageClients" [ngValue]="client.matriculeclient">{{client.nom}} {{client.prenom}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tel">Ligne directe</label>
          <input id="tel" type="text" ngModel="{{pageOfClients.tel}}" name="tel" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="direction">Direction</label>
          <input id="direction" type="text" ngModel="{{pageOfClients.direction}}" name="direction" class="form-control">
        </div>
        <div class="form-group">
          <label for="fonction">Fonction</label>
          <input id="fonction" type="text" ngModel="{{pageOfClients.fonction}}" name="fonction" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">E-mail </label>
          <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="text" ngModel="{{pageOfClients.email}}" name="email" #email="ngModel" class="form-control">
          <div class="alert alert-danger" *ngIf="!email.valid">
            <div *ngIf="email.errors.pattern"> The email must be like test@email.com </div>
          </div>
        </div>
        <div class="form-group">
          <label for="compte">Compte</label>
          <select [(ngModel)]="getNumCompte" class="form-control" name="compte" id="compte" (ngModelChange)="getEntite()">
            <option  [ngValue]="pageOfClients.compte.codecompte">{{pageOfClients.compte.nomcompte}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="entite">Entite</label>
          <select  class="form-control" name="entite" id="entite" [(ngModel)]="getNumEntite" (ngModelChange)="getSEntite()">
            <option *ngFor="let pgOfEntite of pageOfComptes"  ngValue="{{pgOfEntite[0]}}">{{pgOfEntite[1]}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sousentite">Sous entité</label>
          <select ngModel class="form-control" name="sousentite" id="sousentite">
            <option *ngFor="let pgOfSous of pageOfSE" ngValue="{{pgOfSous[0]}}">{{pgOfSous[1]}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="etat">Statut client</label>
          <input id="etat" type="text" ngModel="{{pageOfClients.etat}}" name="etat" class="form-control">
        </div>
        <div class="form-group">
          <label for="acheteur">Matricule acheteur</label>
          <input id="acheteur" type="text" ngModel="{{pageOfClients.acheteur.matriculeacheteur}}" name="acheteur" class="form-control">
        </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input id="nom" type="text" ngModel="{{pageOfClients.acheteur.nom}} {{pageOfClients.acheteur.prenom}}" name="nom" class="form-control">
        </div>
        <div class="form-group">
          <label for="tel">Ligne directe</label>
          <input id="tel" type="text" ngModel="{{pageOfClients.acheteur.tel}}" name="tel" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">E-mail </label>
          <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="text" ngModel="{{pageOfClients.acheteur.email}}" name="email" #email="ngModel" class="form-control">
          <div class="alert alert-danger" *ngIf="!email.valid">
            <div *ngIf="email.errors.pattern"> The email must be like test@email.com </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Détails d'appel d'offre:</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="datedemarrage">Date démarrage</label>
          <input id="datedemarrage" type="date" ngModel name="datedemarrage" class="form-control">
        </div>
        <div class="form-group">
          <label for="datecloture">Date fin souhaitée</label>
          <input id="datecloture" type="date" ngModel name="datecloture" class="form-control">
        </div>
        <div class="form-group">
          <label for="nbconsultant">Nb consultant</label>
          <input id="nbconsultant" type="text" ngModel name="nbconsultant" class="form-control">
        </div>
        <div class="form-group">
          <label for="profil">Profil</label>
          <input id="profil" type="text" ngModel name="profil" class="form-control">
        </div>
        <div class="form-group">
          <label for="nbrtravaill">Charge total estimée</label>
          <input id="nbrtravaill" type="text" ngModel name="nbrtravaill" class="form-control">
        </div>
        <div class="form-group">
          <label for="sujet">Segment</label>
          <input id="sujet" type="text" ngModel name="sujet" class="form-control">
        </div>
        <div class="form-group">
          <label for="experience">Expérience</label>
          <input id="experience" type="text" ngModel name="experience" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="competencecle">Compétence clé</label>
          <input id="competencecle" type="text" ngModel name="competencecle" class="form-control">
        </div>
        <div class="form-group">
          <label for="competencefon">Compétence fonctionelle</label>
          <input id="competencefon" type="text" ngModel name="competencefon" class="form-control">
        </div>
        <div class="form-group">
          <label for="competencetech">Compétence technique</label>
          <input id="competencetech" type="text" ngModel name="competencetech" class="form-control">
        </div>
        <div class="form-group">
          <label for="lieu">Localisation</label>
          <textarea id="lieu" ngModel name="lieu" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="objectif">Objectif</label>
          <textarea id="objectif" ngModel name="objectif" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="prestation">Prestation</label>
          <textarea id="prestation" ngModel name="prestation" class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="autreinfo">Autre information</label>
          <textarea id="autreinfo" ngModel name="autreinfo" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="langue1">Anglais</label>
          <select ngModel class="form-control" id="langue1" name="langue1">
            <option ngValue="Professionelle">Professionelle</option>
            <option ngValue="Courant">Courant</option>
            <option ngValue="Biligue">Biligue</option>
            <option ngValue="Lu/écrit">Lu/écrit</option>
          </select>
        </div>
        <div class="form-group">
          <label for="langue2">Français</label>
          <select ngModel class="form-control" id="langue2" name="langue2">
            <option ngValue="Professionelle">Professionelle</option>
            <option ngValue="Courant">Courant</option>
            <option ngValue="Biligue">Biligue</option>
            <option ngValue="Lu/écrit">Lu/écrit</option>
          </select>
        </div>
        <div class="form-group">
          <label for="langue3">Néerlandais</label>
          <select ngModel class="form-control" id="langue3" name="langue3">
            <option ngValue="Professionelle">Professionelle</option>
            <option ngValue="Courant">Courant</option>
            <option ngValue="Biligue">Biligue</option>
            <option ngValue="Lu/écrit">Lu/écrit</option>
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Valider</button>
    <button class="btn btn-primary pull-right" type="reset">Annuler</button>
  </fieldset>
</form>