<form #f="ngForm" (ngSubmit)="saveCommentaire(f.value);closeToogle()">
        <!-- <button class="btn btn-outline-dark fa fa-plus-square-o pull-right" type="submit" (click)="vider()"></button> -->
        <!-- {{count}} -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <em class="fa fa-cog"></em>
                    </th>
                    <th scope="col">Date</th>
                    <th scope="col">Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-outline-dark fa fa-save" type="submit"></button>
                    </td>
                    <td hidden>
                        <input id="acheteur" type="text"  [(ngModel)]="matricule" name="acheteur">
                    </td>
                    <td>
                        <input id="datecommentaire" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datecommentaire" class="form-control">
                    </td>
                    <td>
                        <textarea id="description" ngModel name="description" class="form-control" rows="2"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>