<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <em class="fa fa-cog"></em>
      </th>
      <th scope="col">Client</th>
      <th scope="col">Date contact</th>
      <th scope="col">Besoin</th>
      <th scope="col">Rappelle à cette date</th>
      <th scope="col">Commentaire</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suivi of pageSuivis">
      <td>
        <a (click)="openToogle();sendSuivi(suivi)" class="btn btn-default">
          <em class="fa fa-pencil-square-o"></em>
        </a>
        <a class="btn btn-danger">
          <em class="fa fa-trash"></em>
        </a>
      </td>
      <td hidden>{{suivi.numsuivi}}</td>
      <td>{{suivi.client.nom}} {{suivi.client.prenom}}</td>
      <td>{{suivi.datesuivi}}</td>
      <td>
        <label class="custom-control custom-checkbox">
          <input id="dis" type="checkbox" ngModel="{{suivi.besoin}}" class="custom-control-input">
          <span class="custom-control-indicator"></span>
        </label>
      </td>
      <td>{{suivi.daterappel}}</td>
      <td>{{suivi.commentaire}}</td>
    </tr>
  </tbody>
</table>