<div class="modal-header">
  <h4 class="modal-title">Base commerciale</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="numsuivi">N° suivi</label>
        <input id="numsuivi" type="text" ngModel="{{childData[0][0]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="datecreation">Date création</label>
        <input id="datecreation" type="text" ngModel="{{childData[0][1]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="matriculeclient">Matricule Client</label>
        <input id="matriculeclient" type="text" ngModel="{{childData[0][2]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input id="nom" type="text" ngModel="{{childData[0][3]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" ngModel="{{childData[0][4]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="fonction">Fonction</label>
        <input id="fonction" type="text" ngModel="{{childData[0][5]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="compte">Compte</label>
        <input id="compte" type="text" ngModel="{{childData[0][6]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="entite">Entite</label>
        <input id="entite" type="text" ngModel="{{childData[0][7]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="compte">Sous Entite</label>
        <input id="compte" type="text" ngModel="{{childData[0][8]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="acheteur">Acheteur</label>
        <input id="acheteur" type="text" ngModel="{{childData[0][9]}}" class="form-control">
      </div>
      <div class="form-group">
          <label for="etat">Etat</label>
          <select ngModel class="form-control" id="etat" name="etat">
              <option ngValue="Inactif">{{childData[0][10]}}</option>
              <!-- <option ngValue="Actif">Actif</option>
              <option ngValue="Client Final">Client Final</option> -->
          </select>
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group">
        <label for="secteur">Secteur</label>
        <input id="secteur" type="text" ngModel="{{childData[0][11]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="direction">Direction</label>
        <input id="direction" type="text" ngModel="{{childData[0][12]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <textarea id="adresse" class="form-control" ngModel="{{childData[0][13]}}" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="codepostal">Code postal</label>
        <input id="codepostal" type="text" ngModel="{{childData[0][14]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="ville">Ville</label>
        <input id="ville" type="text" ngModel="{{childData[0][15]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="pays">Pays</label>
        <input id="pays" type="text" ngModel="{{childData[0][16]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="hierarchie">N+1° Hiérarchie</label>
        <input id="hierarchie" type="text" ngModel="{{childData[0][17]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="hierarchis">N+2° Hiérarchie</label>
        <input id="hierarchis" type="text" ngModel="{{childData[0][18]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="tel">N° Téléphone LD</label>
        <input id="tel" type="text" ngModel="{{childData[0][19]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="tel1">N° Téléphone Portable</label>
        <input id="tel1" type="text" ngModel="{{childData[0][20]}}" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="portableperso">N° Téléphone Perso</label>
        <input id="portableperso" type="text" ngModel="{{childData[0][21]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="portablepro">N° Portable</label>
        <input id="portablepro" type="text" ngModel="{{childData[0][22]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="ficheclient">Fiche client</label>
        <textarea id="ficheclient" class="form-control" ngModel="{{childData[0][23]}}" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="activiteclient">Activité Client</label>
        <textarea id="activiteclient" class="form-control" ngModel="{{childData[0][24]}}" rows="5"></textarea>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" ngModel="{{childData[0][25]}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="email1">E-mail 2</label>
        <input id="email1" type="text" ngModel="{{childData[0][26]}}" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit" (click)="updateClient()">Valider</button>
  <button class="btn btn-primary pull-right" type="reset">Annuler</button>
</div>