<app-headers></app-headers>
<section>
    <!-- <a class="btn btn-primary btn-sm pull-right" routerLink="/login">Déconnexion</a>  -->
    <!-- (click)="logOut()" -->
    <!-- <h1 class="text-center"> Welcome , {{currentUser.nom}} {{currentUser.prenom}}</h1> --> <!-- <span class="fa fa-power-off" routerLink="/login"></span> -->
    <button type="button" class="btn btn-danger btn-lg pull-right fa fa-power-off" routerLink="/login">
    </button>

</section>
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h1 class="text-center"> Welcome , {{currentUser.nom}} {{currentUser.prenom}}</h1>
        <h5 class="section-title h1">Links Consulting</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="assets/images/Commercial.jpg" alt="card image">
                                    </p>
                                    <h4 class="card-title">Commercial</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Commercial</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card
                                        with image on top, title, description and button.This is basic card with image on
                                        top, title, description and button.</p>
                                    <a routerLink="/commercial-acceuil" class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="assets/images/Comptabilite.jpg" alt="card image">
                                    </p>
                                    <h4 class="card-title">Comptabilité</h4>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Comptabilité</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card
                                        with image on top, title, description and button.This is basic card with image on
                                        top, title, description and button.</p>
                                    <a routerLink="/comptabilite-acceuil" class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="assets/images/RH.png" alt="card image">
                                    </p>
                                    <h4 class="card-title">Ressource Humaine</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ressource Humaine</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card
                                        with image on top, title, description and button.This is basic card with image on
                                        top, title, description and button.</p>
                                    <a routerLink="/RH" class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="assets/images/RH.png" alt="card image">
                                    </p>
                                    <h4 class="card-title">Compte rendu d'activité</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Compte rendu d'activité</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card
                                        with image on top, title, description and button.This is basic card with image on
                                        top, title, description and button.</p>
                                    <a routerLink="/cra-acceuil" class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="assets/images/Administrateur.png" alt="card image">
                                    </p>
                                    <h4 class="card-title">Administrateur</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Administrateur</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card
                                        with image on top, title, description and button.This is basic card with image on
                                        top, title, description and button.</p>
                                    <a routerLink="/administrateur" class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->