<section class="pull-right">
    <div class="container-fluid">
        <div hidden>{{count}}</div>
        <button class="btn btn-primary" routerLink="/commercial-acceuil/commercial" (click)="newValue()">Précédent</button>
    </div>
</section>
<section id="team" class="pb-5">
    <div class="container-fuild">
        <h5 class="section-title h1">Base commerciale</h5>
        <div class="row">
            <div class="col-md-3 col-xs-2 form-group">
                <label>Compte:</label>
                <input type="text" [(ngModel)]="nomcompte" />
                <button class="btn btn-primary fa fa-search" (click)="findByCompte()"></button>
            </div>
            <div class="col-md-3 col-xs-2 form-group">
                <label>Entite:</label>
                <input type="text" [(ngModel)]="nomentite" />
                <button class="btn btn-primary fa fa-search" (click)="findByEntite()"></button>
            </div>
            <div class="col-md-3 col-xs-2 form-group">
                <label>Sous entité:</label>
                <input type="text" [(ngModel)]="nomsentite" />
                <button class="btn btn-primary fa fa-search" (click)="findBySEntite()"></button>
            </div>
            <div class="col-md-3 col-xs-2 form-group">
                <label>Client:</label>
                <input type="text" [(ngModel)]="nomclient" />
                <button class="btn btn-primary fa fa-search" (click)="findByClient()"></button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <em class="fa fa-cog"></em>
                    </th>
                    <th scope="col">N° suivi</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Matricule Client</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Fonction</th>
                    <th scope="col">Compte</th>
                    <th scope="col">Entite</th>
                    <th scope="col">Sous entité</th>
                    <th scope="col">Acheteur</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Secteur</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Pays</th>
                    <th scope="col">N+1° Hiérarchie</th>
                    <th scope="col">N+2° Hiérarchie</th>
                    <th scope="col">N° Téléphone LD</th>
                    <th scope="col">N° Téléphone Portable</th>
                    <th scope="col">N° Téléphone Perso</th>
                    <th scope="col">N° Portable</th>
                    <th scope="col">Fiche client</th>
                    <th scope="col">Activité client</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">E-mail2</th>
                </tr>
            </thead>
            <tbody  *ngIf="showComptes">
                <tr *ngFor="let suivi of pgComptes?.content">
                    <!-- let suivi of pageSuivis pgComptes,pgEntites,pgSEntites,pgClients -->
                    <td>
                        <a (click)="openContent()" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <td>{{suivi[0]}}</td>
                    <td>{{suivi[1]}}</td>
                    <td>{{suivi[2]}}</td>
                    <td>{{suivi[3]}}</td>
                    <td>{{suivi[4]}}</td>
                    <td>{{suivi[5]}}</td>
                    <td>{{suivi[6]}}</td>
                    <td>{{suivi[7]}}</td>
                    <td>{{suivi[8]}}</td>
                    <td>{{suivi[9]}}</td>
                    <td>{{suivi[10]}}</td>
                    <td>{{suivi[11]}}</td>
                    <td>{{suivi[12]}}</td>
                    <td>{{suivi[13]}}</td>
                    <td>{{suivi[14]}}</td>
                    <td>{{suivi[15]}}</td>
                    <td>{{suivi[16]}}</td>
                    <td>{{suivi[17]}}</td>
                    <td>{{suivi[18]}}</td>
                    <td>{{suivi[19]}}</td>
                    <td>{{suivi[20]}}</td>
                    <td>{{suivi[21]}}</td>
                    <td>{{suivi[22]}}</td>
                    <td>{{suivi[23]}}</td>
                    <td>{{suivi[24]}}</td>
                    <td>{{suivi[25]}}</td>
                    <!-- <td>{{suivi.numsuivi}}</td>
                  <td>{{suivi.datesuivi}}</td>
                  <td>{{suivi.client.matriculeclient}}</td>
                  <td>{{suivi.client.nom}}</td>
                  <td>{{suivi.client.prenom}}</td>
                  <td>{{suivi.client.fonction}}</td>
                  <td>{{suivi.client.compte.nomcompte}}</td>
                  <td>entity.nomentite</td> 
                  <td>entity.nomsentite</td>
                  <td>{{suivi.client.acheteur.nom}} {{suivi.client.acheteur.prenom}}</td>
                  <td>{{suivi.client.etat}}</td>
                  <td>{{suivi.client.secteur}}</td>
                  <td>{{suivi.client.direction}}</td>
                  <td>{{suivi.client.adresse}}</td>
                  <td>{{suivi.client.codepostal}}</td>
                  <td>{{suivi.client.ville}}</td>
                  <td>{{suivi.client.pays}}</td>
                  <td>{{suivi.client.hierarchie}}</td>
                  <td>{{suivi.client.hierarchis}}</td>
                  <td>{{suivi.client.tel}}</td>
                  <td>{{suivi.client.tel1}}</td>
                  <td>{{suivi.client.portableperso}}</td>
                  <td>{{suivi.client.portablepro}}</td>
                  <td>{{suivi.client.ficheclient}}</td>
                  <td>{{suivi.client.activiteclient}}</td>
                  <td>{{suivi.client.email}}</td>
                  <td>{{suivi.client.email1}}</td> -->
                </tr>
            </tbody>

            <tbody  *ngIf="showEntites">
                <tr *ngFor="let suivi of pgEntites?.content">
                    <!-- let suivi of pageSuivis pgComptes,pgEntites,pgSEntites,pgClients -->
                    <td>
                        <a (click)="openContent()" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <td>{{suivi[0]}}</td>
                    <td>{{suivi[1]}}</td>
                    <td>{{suivi[2]}}</td>
                    <td>{{suivi[3]}}</td>
                    <td>{{suivi[4]}}</td>
                    <td>{{suivi[5]}}</td>
                    <td>{{suivi[6]}}</td>
                    <td>{{suivi[7]}}</td>
                    <td>{{suivi[8]}}</td>
                    <td>{{suivi[9]}}</td>
                    <td>{{suivi[10]}}</td>
                    <td>{{suivi[11]}}</td>
                    <td>{{suivi[12]}}</td>
                    <td>{{suivi[13]}}</td>
                    <td>{{suivi[14]}}</td>
                    <td>{{suivi[15]}}</td>
                    <td>{{suivi[16]}}</td>
                    <td>{{suivi[17]}}</td>
                    <td>{{suivi[18]}}</td>
                    <td>{{suivi[19]}}</td>
                    <td>{{suivi[20]}}</td>
                    <td>{{suivi[21]}}</td>
                    <td>{{suivi[22]}}</td>
                    <td>{{suivi[23]}}</td>
                    <td>{{suivi[24]}}</td>
                    <td>{{suivi[25]}}</td>
                </tr>
            </tbody>
            <tbody  *ngIf="showSEntites">
                <tr *ngFor="let suivi of pgSEntites?.content">
                    <!-- let suivi of pageSuivis pgComptes,pgEntites,pgSEntites,pgClients -->
                    <td>
                        <a (click)="openContent()" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <td>{{suivi[0]}}</td>
                    <td>{{suivi[1]}}</td>
                    <td>{{suivi[2]}}</td>
                    <td>{{suivi[3]}}</td>
                    <td>{{suivi[4]}}</td>
                    <td>{{suivi[5]}}</td>
                    <td>{{suivi[6]}}</td>
                    <td>{{suivi[7]}}</td>
                    <td>{{suivi[8]}}</td>
                    <td>{{suivi[9]}}</td>
                    <td>{{suivi[10]}}</td>
                    <td>{{suivi[11]}}</td>
                    <td>{{suivi[12]}}</td>
                    <td>{{suivi[13]}}</td>
                    <td>{{suivi[14]}}</td>
                    <td>{{suivi[15]}}</td>
                    <td>{{suivi[16]}}</td>
                    <td>{{suivi[17]}}</td>
                    <td>{{suivi[18]}}</td>
                    <td>{{suivi[19]}}</td>
                    <td>{{suivi[20]}}</td>
                    <td>{{suivi[21]}}</td>
                    <td>{{suivi[22]}}</td>
                    <td>{{suivi[23]}}</td>
                    <td>{{suivi[24]}}</td>
                    <td>{{suivi[25]}}</td>
                </tr>
            </tbody>

            <tbody  *ngIf="showClients">
                <tr *ngFor="let suivi of pgClients?.content">
                    <!-- let suivi of pageSuivis pgComptes,pgEntites,pgSEntites,pgClients -->
                    <td>
                        <a (click)="openContent()" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <td>{{suivi[0]}}</td>
                    <td>{{suivi[1]}}</td>
                    <td>{{suivi[2]}}</td>
                    <td>{{suivi[3]}}</td>
                    <td>{{suivi[4]}}</td>
                    <td>{{suivi[5]}}</td>
                    <td>{{suivi[6]}}</td>
                    <td>{{suivi[7]}}</td>
                    <td>{{suivi[8]}}</td>
                    <td>{{suivi[9]}}</td>
                    <td>{{suivi[10]}}</td>
                    <td>{{suivi[11]}}</td>
                    <td>{{suivi[12]}}</td>
                    <td>{{suivi[13]}}</td>
                    <td>{{suivi[14]}}</td>
                    <td>{{suivi[15]}}</td>
                    <td>{{suivi[16]}}</td>
                    <td>{{suivi[17]}}</td>
                    <td>{{suivi[18]}}</td>
                    <td>{{suivi[19]}}</td>
                    <td>{{suivi[20]}}</td>
                    <td>{{suivi[21]}}</td>
                    <td>{{suivi[22]}}</td>
                    <td>{{suivi[23]}}</td>
                    <td>{{suivi[24]}}</td>
                    <td>{{suivi[25]}}</td>
                </tr>
            </tbody>
            <ng-template #contentBD let-c="close" let-d="dismiss">
                <update-base-commerciale [childData]="pgsSuivis"></update-base-commerciale>
            </ng-template>
        </table>
    </div>
</section>