<!-- Team -->
<section>
  <form #f="ngForm" (ngSubmit)="saveCra()">
  <div class="container">
    <h5 class="section-title h1">Compte rendu d'activité</h5>
    <hr>
    <div class="row">
      <div class="col-lg-4 border-right">
        <div class="form-group">
          <button type="button" class="btn btn-outline-secondary form-control">Récapitulatif du mois</button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-success form-control" (click)="bkholiday()">Jours fériés</button>
          <!--Bank holiday-->
          <ng-template #contentbank let-c="close" let-d="dismiss">
            <app-bkholiday (event)="c('Close click')" (eventclose)="d('Cross click')"></app-bkholiday>
          </ng-template>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-info form-control">Jours ouvrés</button>
        </div>
      </div>
      <div class="col-lg-4 border-right">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="employeur" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input id="prenom" type="text" ngModel name="prenom" [(ngModel)]="currentUser && currentUser.prenom" class="form-control form-control-sm"
                readonly>
              <input id="employeur" type="text" ngModel="{{values}}"  name="employeur" class="form-control" hidden>  
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="nom" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input id="nom" type="text" ngModel name="nom" [(ngModel)]="currentUser && currentUser.nom" class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="mission" class="col-sm-2 col-form-label">Mission</label>
            <div class="col-sm-10">
              <input id="mission" type="text" ngModel name="mission" class="form-control form-control-sm">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="mois" class="col-sm-2 col-form-label">Mois</label>
            <div class="col-sm-10">
              <input id="mois" type="text"  name="mois" ngModel="{{ currentDate.locale('fr').format('MMMM')  }}" class="form-control form-control-sm"
                readonly>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="annee" class="col-sm-2 col-form-label">Année</label>
            <div class="col-sm-10">
              <input id="annee" type="text"  name="annee" ngModel="{{ currentDate.format('YYYY') }}" class="form-control form-control-sm"
                readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Signature du consultant</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
          </div>
        </div>
        <button  type="submit" class="btn btn-primary">Valider</button>
      </div>
    </div>
    <hr>
    <div class="table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl">
      <table class="table table-sm table-hover">
        <thead class="form-control-sm">
          <tr class="table-secondary text-center ">
            <th scope="col">#</th>
            <th *ngFor="let w of dayNames" scope="col">{{w}}</th>
            <!-- <th scope="col" ; let i = index; [value]="i">Lundi</th> -->
          </tr>
        </thead>
        <tbody class="form-control-sm">
          <tr *ngFor="let week of weeks" class="text-center">
            <th scope="row" style="border-color:darkgray">
              <div class="form-row">
                <label>Jour</label>
              </div>
              <br>
              <div class="form-row">
                <label style="color:steelblue">AM</label>
              </div>
              <br>
              <br>
              <div class="form-row">
                <label style="color:grey">Commentaire</label>
              </div>
              <br>
              <br>
              <div class="form-row">
                <label style="color:goldenrod">PM</label>
              </div>
              <br>
              <br>
              <div class="form-row">
                <label style="color:grey">Commentaire</label>
              </div>
              <br>
              <br>
              <br>
              <div class="form-row">
                <label style="color:peru">Nbr heure/Jr</label>
              </div>
            </th>
            <ng-container >
            <td  *ngFor="let day of week" style="border-color:darkgray">
                <span>
                  <b name="jrs" >{{ day.jrs }}</b>
                </span>
                <hr class="ligneTr">
                <div class="form-group">
                  <select  [(ngModel)]="day.am" class="form-control form-control-sm transparentField" name="am">
                    <option ngValue="Facturé">Facturé</option>
                    <option ngValue="InterCo">InterCo</option>
                    <option ngValue="RTT Employé">RTT Employé</option>
                    <option ngValue="RTT Employeur">RTT Employeur</option>
                    <option ngValue="Congé payé">Congé payé</option>
                    <option ngValue="Maladie">Maladie</option>
                    <option ngValue="Télétravail">Télétravail</option>
                    <option ngValue="Autres">Autres</option>
                  </select>
                </div>
                <hr class="ligneTr">
                <div class="form-group">
                  <textarea class="form-control form-control-sm transparentField" name="commam" [(ngModel)]="day.commam" rows="2"></textarea>
                </div>
                <hr class="ligneTr">
                <div class="form-group">
                  <select [(ngModel)]="day.pm" class="form-control form-control-sm transparentField"  name="pm">
                    <option ngValue="Facturé">Facturé</option>
                    <option ngValue="InterCo">InterCo</option>
                    <option ngValue="RTT Employé">RTT Employé</option>
                    <option ngValue="RTT Employeur">RTT Employeur</option>
                    <option ngValue="Congé payé">Congé payé</option>
                    <option ngValue="Maladie">Maladie</option>
                    <option ngValue="Télétravail">Télétravail</option>
                    <option ngValue="Autres">Autres</option>
                  </select>
                </div>
                <hr class="ligneTr">
                <div class="form-group">
                  <textarea class="form-control form-control-sm transparentField" name="commpm" [(ngModel)]="day.commpm" rows="2"></textarea>
                </div>
                <hr class="ligneTr">
                <div class="form-group">
                  <input id="nbrheure"  name="nbrheure" [(ngModel)]="day.nbrheure" type="text" class="form-control form-control-sm" readonly>
                </div>
              
            </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </form>
</section>
<!-- {{today | date:"EEEE"}} -->

<!-- Team -->