<div class="material-button-anim">
    <ul class="list-inline" id="options">
        <app-sous-button  [attr.id]='selectorId' [selectorId]="selectorId"  [optionClass]="'option'+selectorId"></app-sous-button>
      <!--<app-sous-button [attr.id]="selectorId + '6'" [optionClass]="'option'+selectorId"    [icon]="'fa fa-pencil'"></app-sous-button> --> 
    </ul>
    <button  [class]="'material-button ' +'material-button-toggle'+selectorId" [attr.id]='selectorId' type="button">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </button>
</div>

<!-- <div class="material-button-anim">
    <ul class="list-inline" id="options">
        <li [attr.id]="selectorId + '1'" [class]="'option'+selectorId">
            <button class="material-button option1" type="button">
                <span class="fa fa-phone" aria-hidden="true"></span>
            </button>
        </li>
        <li [attr.id]="selectorId + '2'" [class]="'option'+selectorId">
            <button class="material-button option2" type="button">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </button>
        </li> 
        <li [attr.id]="selectorId + '3'" [class]="'option'+selectorId">
            <button class="material-button option3" type="button">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </li>
        <li [attr.id]="selectorId + '4'" [class]="'option'+selectorId">
            <button class="material-button option4" type="button">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </li>
        <li [attr.id]="selectorId + '5'" [class]="'option'+selectorId">
            <button class="material-button option5" type="button">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </li>
        <li [attr.id]="selectorId + '6'" [class]="'option'+selectorId">
            <button class="material-button option6" type="button">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </li>
    </ul>
    <button [class]="'material-button ' +'material-button-toggle'+selectorId" [attr.id]='selectorId' type="button">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </button>
</div> -->