<section class="pull-right">
  <div class="container-fluid">
    <div hidden>{{count}}</div>
    <button class="btn btn-primary" routerLink="/commercial-acceuil/commercial" (click)="newValue()">Précédent</button>
  </div>
</section>
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Compte</h5>
    <div class="form-group pull-right">
      <label>Mot clé:</label>
      <input type="text" [(ngModel)]="motCle"/> 
      <button class="btn btn-primary" (click)="chercher()">Chercher</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            <em class="fa fa-cog"></em>
          </th>
          <th scope="col">Date création</th>
          <th scope="col">Code compte</th>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Ville</th>
          <th scope="col">Pays</th>
          <th scope="col">Code postal</th>
          <th scope="col">Etat compte</th>
          <th scope="col">N° Téléphone</th>
          <th scope="col">N° Téléphone2</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compte of pgComptes?.content" ><!-- ?.content -->
          <!--  -->
          <td>
            <a (click)="openContent(compte.codecompte)" class="btn btn-default">
              <em class="fa fa-pencil-square-o"></em>
            </a>
            <a class="btn btn-danger">
              <em class="fa fa-trash"></em>
            </a>
          </td>
          <!-- <th scope="row">1</th> -->
          <td>{{compte.datecreation}}</td>
          <td>{{compte.codecompte}}</td>
          <td>{{compte.nomcompte}}</td>
          <td>{{compte.adresse}}</td>
          <td>{{compte.ville}}</td>
          <td>{{compte.pays}}</td>
          <td>{{compte.codepostal}}</td>
          <td>
            <label class="custom-control custom-checkbox">
              <input id="dis" type="checkbox" ngModel="{{compte.etat}}" class="custom-control-input">
              <span class="custom-control-indicator"></span>
            </label>
          </td>
          <td>{{compte.tel}}</td>
          <td>{{compte.fix}}</td>
          <td>{{compte.email}}</td>
        </tr>
      </tbody>
      <ng-template #content let-c="close" let-d="dismiss">

        <div class="modal-header">
          <h4 class="modal-title">COMPTE</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <p>One fine body&hellip;</p> -->
          <div class="form-group">
            <label for="codecompte">Code compte</label>
            <input id="codecompte" type="text" [(ngModel)]="compte.codecompte" class="form-control">
          </div>
          <div class="form-group">
            <!-- <p>Date is {{today | date:'yyyy-MM-dd'}}</p> -->
            <label for="datecreation">Date création</label>
            <input id="datecreation" type="text" [(ngModel)]="compte.datecreation" class="form-control">
          </div>
          <div class="form-group">
            <label for="nomcompte">Nom compte</label>
            <input id="nomcompte" type="text" [(ngModel)]="compte.nomcompte" class="form-control">
          </div>
          <div class="form-group">
            <label for="adresseSiege">Adresse siége</label>
            <textarea id="adresseSiege" [(ngModel)]="compte.adresse" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="villecompte">Ville</label>
            <input id="villecompte" type="text" [(ngModel)]="compte.ville" class="form-control">
          </div>
          <div class="form-group">
            <label for="payscompte">Pays</label>
            <input id="payscompte" type="text" [(ngModel)]="compte.pays" class="form-control">
          </div>
          <div class="form-group">
            <label for="codepostalcompte">Code postal</label>
            <input id="codepostalcompte" type="text" [(ngModel)]="compte.codepostal" class="form-control">
          </div>
          <div class="form-group">
            <label for="etatcompte">Etat compte</label>
            <label class="custom-control custom-checkbox">
              <input id="dis" type="checkbox" [(ngModel)]="compte.etat" class="custom-control-input">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <div class="form-group">
            <label for="tel1">N° Téléphone</label>
            <input id="tel1" type="text" [(ngModel)]="compte.tel" class="form-control">
          </div>
          <div class="form-group">
            <label for="tel2">N° Téléphone 2</label>
            <input id="tel2" type="text" [(ngModel)]="compte.fix" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" [(ngModel)]="compte.email" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" (click)="updateCompte()">Valider</button>
          <button class="btn btn-primary" type="reset">Annuler</button>
        </div>
      </ng-template>
    </table>
    <div class="container-fluid">
      <!-- <ul>
        <li [ngClass]="{'active' : i == page}" *ngFor="let p of pages; let i=index">
          <a (click)="goToPages(i)"> {{i}} </a>
        </li>
      </ul> -->
      <!-- <ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false"></ngb-pagination> -->
    </div>
  </div>
</section>