<section class="pull-right">
    <div class="container-fluid">
        <div hidden>{{count}}</div>
        <button class="btn btn-primary" routerLink="/commercial-acceuil/commercial" (click)="newValue()">Précédent</button>
    </div>
</section>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Acheteur</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <em class="fa fa-cog"></em>
                    </th>
                    <th scope="col">Code acheteur</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Fonction</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">E-mail2</th>
                    <th scope="col">N° Téléphone</th>
                    <th scope="col">N° Téléphone2</th>
                    <th scope="col">Date commenatire</th>
                    <th scope="col">commenatire</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acheteur of pageAcheteurs">
                    <td>
                        <a (click)="openContent(acheteur.acheteur.matriculeacheteur)" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <!-- <th scope="row">1</th> -->
                    <td>{{acheteur.acheteur.matriculeacheteur}}</td>
                    <td>{{acheteur.acheteur.datecreation}}</td>
                    <td>{{acheteur.acheteur.nom}}</td>
                    <td>{{acheteur.acheteur.prenom}}</td>
                    <td>{{acheteur.acheteur.fonction}}</td>
                    <td>{{acheteur.acheteur.adresse}}</td>
                    <td>{{acheteur.acheteur.ville}}</td>
                    <td>{{acheteur.acheteur.pays}}</td>
                    <td>{{acheteur.acheteur.codepostal}}</td>
                    <td>{{acheteur.acheteur.email}}</td>
                    <td>{{acheteur.acheteur.email1}}</td>
                    <td>{{acheteur.acheteur.tel}}</td>
                    <td>{{acheteur.acheteur.tel1}}</td>
                    <td>{{acheteur.datecommentaire}}</td>
                    <td>{{acheteur.description}}</td>
                </tr>
            </tbody>
            <ng-template #contentAcheteur let-c="close" let-d="dismiss">

                <div class="modal-header">
                    <h4 class="modal-title">Acheteur</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1-acheteur">
                        <ngb-panel id="static-1-acheteur">
                            <ng-template ngbPanelTitle>
                                <span>
                                    <b>Acheteur</b>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="form-group">
                                    <label for="matriculeacheteur">Code acheteur</label>
                                    <input id="matriculeacheteur" type="text" [(ngModel)]="acheteur.matriculeacheteur" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="datecreation">Date création</label>
                                    <input id="datecreation" type="text" [(ngModel)]="acheteur.datecreation" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="nom">Nom</label>
                                    <input id="nom" type="text" [(ngModel)]="acheteur.nom" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="prenom">Prénom</label>
                                    <input id="prenom" type="text" [(ngModel)]="acheteur.prenom" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="fonction">Fonction</label>
                                    <input id="fonction" type="text" [(ngModel)]="acheteur.fonction" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="adresse">Adresse</label>
                                    <textarea id="adresse" class="form-control" [(ngModel)]="acheteur.adresse" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="ville">Ville</label>
                                    <input id="ville" type="text" [(ngModel)]="acheteur.ville" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="pays">Pays</label>
                                    <input id="pays" type="text" [(ngModel)]="acheteur.pays" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="codepostal">Code postal</label>
                                    <input id="codepostal" type="text" [(ngModel)]="acheteur.codepostal" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input id="email" type="text" [(ngModel)]="acheteur.email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email1">E-mail 2</label>
                                    <input id="email1" type="text" [(ngModel)]="acheteur.email1" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="tel">N° Téléphone</label>
                                    <input id="tel" type="text" [(ngModel)]="acheteur.tel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="tel1">N° Téléphone 2</label>
                                    <input id="tel1" type="text" [(ngModel)]="acheteur.tel1" class="form-control">
                                </div>
                                <button class="btn btn-primary" type="submit" (click)="updateAcheteur();acc.toggle('static-2-acheteur')">Valider</button>
                                <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2-acheteur">
                            <ng-template ngbPanelTitle>
                                <span>
                                    <b>Commentaire Acheteur</b>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <!-- <button class="btn btn-default pull-right">
                                    <em class="fa fa-plus-square"></em>
                                </button> -->
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <em class="fa fa-cog"></em>
                                            </th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Commentaire</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="btn btn-default">
                                                    <em class="fa fa-save"></em>
                                                </a>
                                            </td>
                                            
                                            <td>{{acheteur.datecommentaire}}</td>
                                            <td>{{acheteur.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
                </div>
            </ng-template>
        </table>
    </div>
</section>