<div class="modal-header">
  <h4 class="modal-title">Coordonnées de l'entreprise</h4>
  <button type="button" class="close" aria-label="Close" (click)="clsToogle()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #f="ngForm" (ngSubmit)="saveEntreprise(f.value);closeToogle()">
  <div class="modal-body">
    <!-- <fieldset>
          <legend>Coordonnées de l'entreprise:</legend> -->
    <div class="form-group">
      <label for="codecompte">Nom société</label>
      <input id="nomentreprise" type="text" ngModel name="nomentreprise" class="form-control">
    </div>
    <div class="form-group">
      <label for="tel">N° Téléphone</label>
      <input minlength="4" maxlength="10" id="tel" type="text" ngModel name="tel" #tel="ngModel" class="form-control">
      <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
          <div *ngIf="tel.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel.errors.minlength.requiredLength}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="tel1">N° Portable</label>
      <input minlength="4" maxlength="10" id="tel1" type="text" ngModel name="tel1" #tel1="ngModel" class="form-control">
      <div class="alert alert-danger" *ngIf="tel1.touched && !tel1.valid">
          <div *ngIf="tel1.errors.minlength"> The N°Téléphone shoulde be minimum {{ tel1.errors.minlength.requiredLength}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="email" ngModel name="email" #email="ngModel" class="form-control">
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        <div *ngIf="email.errors.pattern"> The email must be like test@email.com </div>
      </div>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse siége</label>
      <textarea id="adresse" ngModel name="adresse" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="nsiret">N° SIRET</label>
      <input id="nsiret" type="text" ngModel name="nsiret" class="form-control">
    </div>
    <div class="form-group">
      <label for="rcs">R.C.S</label>
      <input id="rcs" type="text" ngModel name="rcs" class="form-control">
    </div>
    <div class="form-group">
      <label for="tva">T.V.A</label>
      <input id="tva" type="text" ngModel name="tva" class="form-control">
    </div>
    <div class="form-group">
      <label for="codeape">Code APE</label>
      <input id="codeape" type="text" ngModel name="codeape" class="form-control">
    </div>

    <div class="form-group">
      <label for="penalite">Pénalités de retard</label>
      <input id="penalite" type="text" ngModel name="penalite" class="form-control">
    </div>
    <div class="form-group">
      <label for="indeminite">Indémnité forfaitaire pour frais de recouvrement</label>
      <input id="indeminite" type="text" ngModel name="indeminite" class="form-control">
    </div>
    <!-- </fieldset> -->
    <fieldset>
      <legend>Coordonnées bancaires:</legend>
      <div class="form-group">
        <label for="banque">Banque</label>
        <input id="banque" type="text" ngModel name="banque" class="form-control">
      </div>
      <div class="form-group">
        <label for="rib">RIB</label>
        <input id="rib" type="text" ngModel name="rib" class="form-control">
      </div>
      <div class="form-group">
        <label for="iban">IBAN</label>
        <input id="iban" type="text" ngModel name="iban" class="form-control">
      </div>
      <div class="form-group">
        <label for="bic">BIC</label>
        <input id="bic" type="text" ngModel name="bic" class="form-control">
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Valider</button>
    <button class="btn btn-primary" type="reset" (click)="closeToogle()">Annuler</button>
  </div>
</form>