<div class="material-button-anim">
  <ul class="list-inline" id="options">
      <app-sous-button-cpt  [attr.id]='selectorId' [selectorId]="selectorId"  [optionClass]="'option'+selectorId"></app-sous-button-cpt>
  </ul>
  <button  [class]="'material-button ' +'material-button-toggle'+selectorId" [attr.id]='selectorId' type="button">
      <span class="fa fa-plus" aria-hidden="true"></span>
  </button>
</div>