<div class="mainflip">
  <div class="frontside">
    <div class="card">
      <div class="card-body text-center">
        <p>
          <img class=" img-fluid" [src]="image" alt="card image">
        </p>
        <h4 class="card-title">{{title}}</h4>
        <app-animated-button-cpt [selectorId]="selectorId" 
                             [materialBtnTog]="'material-button-toggle'+selectorId" 
                             [option]="'option'+selectorId">
        </app-animated-button-cpt>
      </div>
    </div>
  </div>
</div>