<section class="pull-right">
    <div class="container-fluid">
        <div hidden>{{count}}</div>
        <button class="btn btn-primary" routerLink="/commercial-acceuil/commercial" (click)="newValue()">Précédent</button>
    </div>
</section>
<section id="team" class="pb-5">
    <div class="container-fuild">
        <h5 class="section-title h1">Client</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <em class="fa fa-cog"></em>
                    </th>
                    <th scope="col">Code client</th>
                    <!-- <th scope="col">Compte</th>
          <th scope="col">Entité</th>
          <th scope="col">Sous Entité</th> -->
                    <th scope="col">Acheteur</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Fonction</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Secteur</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">N° Téléphone LD</th>
                    <th scope="col">N° Téléphone Portable</th>
                    <th scope="col">N° Téléphone Perso</th>
                    <th scope="col">N° Portable</th>
                    <th scope="col">N+1° Hiérarchie</th>
                    <th scope="col">N+2° Hiérarchie</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">E-mail2</th>
                    <th scope="col">Fiche client</th>
                    <th scope="col">Activité client</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of pageClients">
                    <td>
                        <a (click)="openContent(client.matriculeclient)" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <!-- <th scope="row">1</th> -->
                    <td>{{client.matriculeclient}}</td>
                    <td>{{client.acheteur.matriculeacheteur}}</td>
                    <td>{{client.datecreation}}</td>
                    <td>{{client.nom}}</td>
                    <td>{{client.prenom}}</td>
                    <td>{{client.fonction}}</td>
                    <td>{{client.etat}}</td>
                    <td>{{client.secteur}}</td>
                    <td>{{client.direction}}</td>
                    <td>{{client.adresse}}</td>
                    <td>{{client.ville}}</td>
                    <td>{{client.pays}}</td>
                    <td>{{client.codepostal}}</td>
                    <td>{{client.tel}}</td>
                    <td>{{client.tel1}}</td>
                    <td>{{client.portableperso}}</td>
                    <td>{{client.portablepro}}</td>
                    <td>{{client.hierarchie}}</td>
                    <td>{{client.hierarchis}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.email1}}</td>
                    <td>{{client.ficheclient}}</td>
                    <td>{{client.activiteclient}}</td>
                </tr>
            </tbody>
            <ng-template #contentClient let-c="close" let-d="dismiss">

                <div class="modal-header">
                    <h4 class="modal-title">CLIENT</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="datecreation">Date création</label>
                                <input id="datecreation" type="text" [(ngModel)]="client.datecreation" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="matriculeclient">Code client</label>
                                <input id="matriculeclient" type="text" [(ngModel)]="client.matriculeclient"  class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input  id="nom" type="text" [(ngModel)]="client.nom" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="prenom">Prénom</label>
                                <input id="prenom" type="text" [(ngModel)]="client.prenom" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fonction">Fonction</label>
                                <input id="fonction" type="text" [(ngModel)]="client.fonction" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="etat">Etat</label>
                                <select [(ngModel)]="client.etat" class="form-control" id="etat">
                                    <option ngValue="Inactif">Inactif</option>
                                    <option ngValue="Actif">Actif</option>
                                    <option ngValue="Client Final">Client Final</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label for="secteur">Secteur</label>
                                <input id="secteur" type="text" [(ngModel)]="client.secteur" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="direction">Direction</label>
                                <input id="direction" type="text" [(ngModel)]="client.direction" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="adresse">Adresse</label>
                                <textarea id="adresse" class="form-control" [(ngModel)]="client.adresse" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="codepostal">Code postal</label>
                                <input  id="codepostal" type="text" [(ngModel)]="client.codepostal" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ville">Ville</label>
                                <input id="ville" type="text" [(ngModel)]="client.ville" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="pays">Pays</label>
                                <input id="pays" type="text" [(ngModel)]="client.pays" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="hierarchie">N+1° Hiérarchie</label>
                                <input id="hierarchie" type="text" [(ngModel)]="client.hierarchie" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="hierarchis">N+2° Hiérarchie</label>
                                <input id="hierarchis" type="text" [(ngModel)]="client.hierarchis" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tel">N° Téléphone LD</label>
                                <input id="tel" type="text" [(ngModel)]="client.tel" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tel1">N° Téléphone Portable</label>
                                <input id="tel1" type="text" [(ngModel)]="client.tel1" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="portableperso">N° Téléphone Perso</label>
                                <input id="portableperso" type="text" [(ngModel)]="client.portableperso" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="portablepro">N° Portable</label>
                                <input id="portablepro" type="text" [(ngModel)]="client.portablepro" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ficheclient">Fiche client</label>
                                <textarea id="ficheclient" class="form-control" [(ngModel)]="client.ficheclient" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="activiteclient">Activité Client</label>
                                <textarea id="activiteclient" class="form-control" [(ngModel)]="client.activiteclient" rows="5"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input  id="email" type="email" [(ngModel)]="client.email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email1">E-mail 2</label>
                                <input id="email1" type="text" [(ngModel)]="client.email1" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" (click)="updateClient()">Valider</button>
                    <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                </div>
            </ng-template>
        </table>
    </div>
</section>