<form #f="ngForm" (ngSubmit)="saveConsultant(f.value);closeToogle()">
  <div class="modal-body">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input id="nom" type="text" ngModel name="nom" class="form-control">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input id="prenom" type="text" ngModel name="prenom" class="form-control">
        </div>
        <div class="form-group">
          <label for="grade">Grade</label>
          <input id="grade" type="text" ngModel name="grade" class="form-control">
        </div>
        <div class="form-group">
          <label for="datelinks">Date d'entrée chez links</label>
          <input id="datelinks" type="date" ngModel name="datelinks" class="form-control">
        </div>
        <div class="form-group">
            <label for="periode">Période</label>
            <label class="custom-control custom-checkbox">
                <input id="dis" type="checkbox" ngModel name="periode" class="custom-control-input">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
        <div class="form-group">
          <label for="salairebrut">Salaire brut</label>
          <input id="salairebrut" type="text" ngModel name="salairebrut" class="form-control">
        </div>
        <div class="form-group">
          <label for="salairenet">Salaire net</label>
          <input id="salairenet" type="text" ngModel name="salairenet" class="form-control">
        </div>
        <div class="form-group">
          <label for="employeur">Manager</label>
          <input id="employeurs" type="text" ngModel="{{currentUser.nom}} {{currentUser.prenom}}"  name="employeurs" class="form-control">
          <input id="employeur" type="text" ngModel="{{values}}"  name="employeur" class="form-control" hidden>
        </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Valider</button>
    <button class="btn btn-primary" type="reset" (click)="closeToogle()">Annuler</button>
  </div>
</form>