<div class="modal-header">
    <h4 class="modal-title">Facture</h4>
    <button type="button" class="close" aria-label="Close" (click)="clsToogle()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #f="ngForm" (ngSubmit)="saveFacture(f.value);closeToogle()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="datefacture">Date</label>
          <input id="datefacture" type="text" ngModel="{{today | date:'yyyy-MM-dd'}}" name="datefacture" class="form-control">
        </div>
        <div class="form-group">
          <label for="contrat">Référence</label>
          <select class="form-control" [(ngModel)]="ncontrats" name="contrat" id="contrat" (ngModelChange)="getListOfContrat()">
            <option *ngFor="let contrats of pageContrat" ngValue="{{contrats.ncontrat}}">{{contrats.ncontrat}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="compte">Compte</label>
          <input id="compte" type="text" [(ngModel)]="pgcontrat.offre.compte.nomcompte" name="compte" class="form-control">
        </div>
        <div class="form-group">
          <label for="entite">Entité</label>
          <input id="entite" type="text" [(ngModel)]="pgcontrat.offre.entite.nomentite" name="entite" class="form-control">
        </div>
        <div class="form-group">
          <label for="sousentite">Sous entité</label>
          <input id="sousentite" type="text" [(ngModel)]="pgcontrat.offre.sousentite.nomsentite" name="sousentite" class="form-control">
        </div>
        <fieldset>
          <legend>Facturation:</legend>
          <div class="form-group">
            <label for="moisannes">Mois/Année de facturation</label>
            <input id="moisannes" type="text" ngModel name="moisannes" class="form-control">
          </div>
          <div class="form-group">
            <label for="nbrtravaille">Nbr de jours facturés</label>
            <input id="nbrtravaille" type="text" #box  ngModel name="nbrtravaille" class="form-control">
          </div>
          <div class="form-group">
            <label for="prixjrht">Prix journalier HT</label>
            <input id="prixjrht" type="text" [(ngModel)]="pgcontrat.prixjrht" name="prixjrht" class="form-control">
          </div>
          <div class="form-group">
            <label for="montantht">Montant HT</label>
            <input id="montantht" type="text" #montant [(ngModel)]="pgcontrat.prixjrht * box.value" name="montantht" class="form-control">
          </div>
          <div class="form-group">
            <label for="tva">Tva</label>
            <input id="tva" type="text" [(ngModel)]="net.value - montant.value" name="tva" class="form-control">
          </div>
          <div class="form-group">
            <label for="netpayer">Net à payer</label>
            <input id="netpayer" type="text" #net [(ngModel)]="montant.value * tvas" name="netpayer" class="form-control">
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Client:</legend>
          <div class="form-group">
            <label for="client">Code client</label>
            <input id="client" type="text" [(ngModel)]="pgcontrat.offre.client.matriculeclient" name="client" class="form-control">
          </div>
          <div class="form-group">
            <label for="nomclient">Nom</label>
            <input id="nomclient" type="text" [(ngModel)]="pgcontrat.offre.client.nom" name="nomclient" class="form-control">
          </div>
          <div class="form-group">
            <label for="prenomclient">Prénom</label>
            <input id="prenomclient" type="text" [(ngModel)]="pgcontrat.offre.client.prenom" name="prenomclient" class="form-control">
          </div>
          <div class="form-group">
            <label for="fonction">Fonction</label>
            <input id="fonction" type="text" [(ngModel)]="pgcontrat.offre.client.fonction" name="fonction" class="form-control">
          </div>
          <div class="form-group">
            <label for="direction">Direction</label>
            <textarea id="direction" [(ngModel)]="pgcontrat.offre.client.direction" name="direction" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="text" [(ngModel)]="pgcontrat.offre.client.email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="telclient">N° Téléphone LD</label>
            <input id="telclient" type="text" [(ngModel)]="pgcontrat.offre.client.tel" name="telclient" class="form-control">
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Valider</button>
    <button class="btn btn-primary" type="reset" (click)="closeToogle()">Annuler</button>
  </div>
</form>