<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Comptabilité</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-comptabilite-element [selectorId]="'parametrage'" [image]="'assets/images/Commercial.jpg'" [title]="'Parametrage'">
        </app-comptabilite-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-comptabilite-element [selectorId]="'contrat'" [image]="'assets/images/Commercial.jpg'" [title]="'Contrat'">
        </app-comptabilite-element>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-comptabilite-element [selectorId]="'facture'" [image]="'assets/images/Commercial.jpg'" [title]="'Facture'">
        </app-comptabilite-element>
      </div>
    </div>
  </div>
</section>
<!-- Team -->
