<section class="pull-right">
    <div class="container-fluid">
        <div hidden>{{count}}</div>
        <button class="btn btn-primary" routerLink="/commercial-acceuil/commercial" (click)="newValue()">Précédent</button>
    </div>
</section>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Sous entité</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <em class="fa fa-cog"></em>
                    </th>
                    <th scope="col">Date création</th>
                    <th scope="col">Compte</th>
                    <th scope="col">Entité</th>
                    <th scope="col">Code sous-entité</th>
                    <th scope="col">Nom sous-entité</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Présence</th>
                    <th scope="col">Secteur</th>
                    <th scope="col">N° Téléphone</th>
                    <th scope="col">N° Téléphone2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entite of pageSEntites">
                    <td>
                        <a (click)="openContent(entite.nsentite)" class="btn btn-default">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <a class="btn btn-danger">
                            <em class="fa fa-trash"></em>
                        </a>
                    </td>
                    <!-- <th scope="row">1</th> -->
                    <td>{{entite.datecreation}}</td>
                    <td>{{entite.compte.codecompte}}</td>
                    <td>{{entite.entite.nentite}}</td>
                    <td>{{entite.nsentite}}</td>
                    <td>{{entite.nomsentite}}</td>
                    <td>{{entite.adresse}}</td>
                    <td>{{entite.ville}}</td>
                    <td>{{entite.pays}}</td>
                    <td>{{entite.codepostal}}</td>
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input id="dis" type="checkbox" [(ngModel)]="entite.etat" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>{{entite.secteur}}</td>
                    <td>{{entite.tel}}</td>
                    <td>{{entite.tel1}}</td>
                </tr>
            </tbody>
            <ng-template #contentSentite let-c="close" let-d="dismiss">

                <div class="modal-header">
                    <h4 class="modal-title">SOUS-ENTITE</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nsentite">Code sous-entité</label>
                        <input id="nsentite" type="text" [(ngModel)]="sousEntite.nsentite" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="compte">Compte</label>
                        <select class="form-control" [(ngModel)]="sousEntite.compte" id="compte">
                            <option *ngFor="let cpt of pageComptes" value="{{cpt.codecompte}}">{{cpt.nomcompte}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="entite">Entite</label>
                        <select class="form-control" [(ngModel)]="sousEntite.entite" id="entite">
                            <option *ngFor="let entites of pageEntites" value="{{entites.nentite}}">{{entites.nomentite}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="datecreation">Date création</label>
                        <input id="datecreation" type="text" [(ngModel)]="sousEntite.datecreation" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="nomsentite">Nom sous-entité</label>
                        <input id="nomsentite" type="text" [(ngModel)]="sousEntite.nomsentite" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <textarea id="adresse" [(ngModel)]="sousEntite.adresse" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville</label>
                        <input id="ville" type="text" [(ngModel)]="sousEntite.ville" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pays">Pays</label>
                        <input id="pays" type="text" [(ngModel)]="sousEntite.pays" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="codepostal">Code postal</label>
                        <input id="codepostal" type="text" [(ngModel)]="sousEntite.codepostal" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="secteur">Secteur</label>
                        <input id="secteur" type="text" [(ngModel)]="sousEntite.secteur" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="presence">Présence</label>
                        <label class="custom-control custom-checkbox">
                            <input id="dis" type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="tel">N° Téléphone</label>
                        <input id="tel" type="text" [(ngModel)]="sousEntite.tel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tel1">N° Téléphone 2</label>
                        <input id="tel1" type="text" [(ngModel)]="sousEntite.tel1" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" (click)="updateSousEntite()">Valider</button>
                    <button class="btn btn-primary pull-right" type="reset">Annuler</button>
                </div>
            </ng-template>
        </table>
    </div>
</section>